[2016-10-05 10:59] pcm32 opened #1 "Initial proposal"
We should create the community maintained Galaxy deployment on Kubernetes based on:
- [x] A Helm Chart for Galaxy.
- [ ] A minimal Galaxy docker image
  - [ ] Which relies on ansible-galaxy-extras for installation of Galaxy
  - [ ] That can accept injection of settings on the galaxy.ini file at runtime through environment  variables (the image needs to have a way of enacting this into the ini file

[2016-10-18 23:21] pcm32 commented on #1
I have been working on helm-based deployments for Kubernetes for some days now. I have made some progress in setting a galaxy simple deployment (just galaxy, for tool development/testing purposes) and an initial galaxy with postgresql, which should grow into a galaxy production deployment. The beauty of helm is that deployments can be left with parameters, so you can do things like:

[code]

You c

[2016-10-18 23:22] pcm32 commented on #1
@afgane can you add Alex and Nuwan to this discussion? I don't know their git users. Thanks!

[2016-10-19 21:26] afgane commented on #1
Can't seem to add @zfrenchee but I guess Alex you can subscribe yourself?

[2016-10-19 21:28] zfrenchee commented on #1
I think it's because I'm not a member of `galaxyproject`

[2017-10-11 16:20] afgane opened #2 "Syncing with galaxy-docker-project"
I'd like to start/document discussion about what will it take to make it possible to integrate and/or interchange resources from this repo with the resources from the https://github.com/bgruening/docker-galaxy-stable/tree/master/compose repo.

A few things come to mind and please add others:

- For plugging in alternate containers, the [README](https://github.com/galaxyproject/galaxy-kubernetes/bl

[2017-10-11 22:21] pcm32 commented on #2
Hi guys!

I gave this a first try today (well, actually, this would be like my third try so far, I have attempted this in the past but have been a bit overwhelmed by the amount of details needed in contrast to my availability and other priorities), but it is going to require some work.

Basically what we are doing currently in the phenomenal helm chart setup is:

- Passing conditional variables fo

[2017-10-12 18:57] nuwang commented on #2
@pcm32 Thanks for this excellent write-up Pablo, it's very detailed and really helpful!

I tend to agree that we should start with something simple and functional, and refactor as necessary to introduce more complexity as required. I'm hoping that the Helm chart will completely insulate us from those issues, and allow us to refactor the container arrangement as necessary.

One issue that comes to

[2017-10-13 08:49] bgruening commented on #2
I will try to answer to all points but will skip the `GALAXY_CONFIG_*` points. I think this is quite clear and I hope this saves @pcm32 a lot of hacky things.

I guess this can be fixed by changing the configs in `/galaxy-central/` and not in `/export/`. During startup everything is linked/copied into `/export/` so you should change the original source during build.
But I hope this is not at all n

[2017-10-13 08:57] bgruening commented on #2
I don't see why this is different from the current state. Falvors are just adding tools/workflows to a bare-high-quality instance.

Have a look at how a flavor is created here.
https://github.com/bgruening/docker-galaxy-ngs-preprocessing

It gets never created during startup time.

I guess I'm missing something here. Why is this so complicated? We create predefined flavors and pull these container

[2017-10-13 10:18] pcm32 commented on #2
Thanks @bgruening and @nuwang for the excellent feedback... I'll try to advance based on the suggestions that @bgruening added in-line. I think I have most of the helm changes needed by now.

[2017-10-13 10:21] pcm32 commented on #2
@bgruening I don't mind about ubuntu:14.04, I was just listing all the steps for the sake of completion.

[2017-10-13 10:51] nuwang commented on #2
We are going to have to think of ways to handle database upgrades transparently, and while I don't think we need to solve that problem during the first iteration, it would be good to keep a discussion going on strategies for handling this. This is a discussion on the official Postgres docker image: https://github.com/docker-library/postgres/issues/37
Can't say I'm particularly encouraged, any Helm

[2017-10-13 11:27] bgruening commented on #2
Can't say I'm particularly encouraged, any Helm options/experiences here @pcm32?

If we are here talking about upgrading postgresql databases, this is only relevant for persistent Galaxy's over many years. And in this case I assume that an admin knows how to upgrade a postgresql datatbase from one version to the other. I don't think this is a problem we need to solve, especially not now.

https://

[2017-10-13 11:46] jmchilton commented on #2
Distributing bundles (shed_tool_conf entries, tool directories, sqlite for the tool shed install database, and potentially conda dependencies) as tarballs would allow reuse of these flavors outside of Docker / containerized Galaxies. Also it would allow combining several flavors together potentially which can't be done with Docker I don't think.

[2017-10-13 12:54] nuwang commented on #2
Wouldn't this mean that we would need to keep the postgres database container version frozen in the helm chart, because the moment we upgrade to a newer postgres container, the data will no longer be usable? We should aim for a minimal admin system. "helm upgrade galaxy" and you are done, dependencies and all - no need to know anything about systems admin, CloudMan can even run "helm upgrade" on b

[2017-10-13 14:42] bgruening commented on #2
Sure. But this does not exist yet and it solves a problem which we don't have at the moment. @nuwang is this a problem you where referring to? I understood that it is pure disc-space concern?

This is partially working with Docker. You can base one bundle on top of the other, you can not freely mix them. Freely mixing them means you allow replication.
I doubt this the tarball approach will be that

[2017-10-13 17:25] afgane commented on #2
You guys have really taken it into depths so I'll just try to summarize for anyone coming late.

On the topic of bundles and flavors wrt the dependencies, I feel the CVMFS path will represent a solution for any internet-connected Galaxy so I think that's the most desirable solution we should put effort toward. There won't be any initial download penalty in that case either. We'll still have a ques

[2017-10-14 16:01] nuwang commented on #2
I think this summarises things really well. I think that we probably have enough content to start merging the helm chart with the common docker container. I think there are some possible solutions to the database upgrade issue too.

The concern was more about how the initial data population was done. I tried running the compose setup, and I have a better understanding of how things work, but it st

[2017-10-19 09:08] pcm32 opened #3 "TODOs for integration with docker-galaxy-stable compose containers"
These are the main actionables I need to go through to have a first container based on galaxy-stable compose containers working with the helm deployment, as discussed in #2 . More to come here, as I go through them and find dependent tasks.

- [x] Fix pykube version on ansible-galaxy-extras to 0.15.0
- [ ] Create proposal(1) on docker-galaxy-stable for intermediate image between galaxy-base and ga

[2017-10-19 09:31] bgruening commented on #3
Regarding missing datatypes - do you have a list? We should get them into Galaxy 18.01 directly.

[2017-10-20 17:26] abhi2cool commented on #2
here is an attempt to replicate galaxy docker-swarm/compose implementation on kubernetes k8s cluster
https://github.com/galaxyproject/galaxy-kubernetes/tree/v02-1/v02

[2017-10-23 22:12] pcm32 commented on #3
Datatypes are mostly from W4M XCMS:
[code]
from this revision: https://github.com/phnmnl/container-galaxy-k8s-runtime/tree/c6b4bea41481894eeac0e54f786b4f9b839c16e5/external-datatypes

[2017-10-23 22:16] pcm32 commented on #2
I'm pleased to mention that I have a first working version of helm charts with compose containers. Still some bits to go, but mostly there. I'm managing to avoid completely the config file, but I think that, at least for my use case, avoiding to inject the job_conf file will be very difficult since dynamic destinations for resource usage limit are needed.

[2017-11-14 16:57] rc-ms commented on #2
Hello there. Jumping in as part of work to get galaxy-kubernetes working on Azure.  We ("we" being @abhi2cool ) are having an issue scaling HTCondor jobs, getting an error 'Job has not been considered by the matchmaker'.  Which is an interesting message, to be sure.  Do you have any suggestions about how we might interrogate/debug such an issue? ( @bgruening you were suggested as being wise in the

[2017-11-17 13:14] pcm32 commented on #2
@rc-ms would it serve your final purpose to simply use the job dispatching/scheduling of Kubernetes instead of using condor on top of Kubernetes?

[2017-11-17 13:21] pcm32 commented on #2
After a few more days of wokr, I have examples of usage for general Galaxy deployments and for our PhenoMeNal deployment with compose based images are available [here](https://github.com/galaxyproject/galaxy-kubernetes/tree/feature/sync_with_galaxy_stable#experimental-using-docker-galaxy-stablecompose-images). The non-phenomenal one is failing due to [this issue](https://github.com/bgruening/docke

[2017-11-17 13:57] rc-ms commented on #2
Thank you @pcm32 I think it would help, since HTCondor is what is blocking us right now. Oh, and filesystems :). Let me check with team and get back.

[2017-11-17 14:23] bgruening commented on #2
@rc-ms can you give me more information how you run the containers and how you submit jobs. Our travis testing can run Condor jobs currently. Any way how I can reproduce this would be fantastic!

[2017-11-17 14:23] pcm32 commented on #2
@rc-ms:
1.- do you have your own flavour of galaxy-init container with the tools wrappers that you want there?
2.- Would all the tools that you need to use be mappable to containers automatically by galaxy?
3.- are you provisioning a posix shared file system that is accessible to your Kubernetes cluster within Azure?

if we need to discuss specific aspects of your deployment, probably best to emai

[2017-11-17 14:25] pcm32 commented on #2
@rc-ms maybe open a new issue for your use case of Galaxy with k8s, this issue is being over used for too many parallel discussion.

[2017-11-17 15:39] rc-ms commented on #2
will do @pcm32 .  @abhi2cool  will you start the thread?  @bgruening  Abhik will share his configuration and issues there.

[2017-11-22 18:24] rc-ms opened #4 "Galaxy / Kubernetes / HTCondor implementation on Azure"
I'd like to use this thread to discuss and present issues around implementing the AnswerALS workflow on Azure using HTCondor and Kubernetes and the Azure Container Service.

The current implementation breaks into two core nodes: storage and compute. We are having issues enabling multiple nodes to be spun up with jobs brokered between them by HTCondor.

The [ultimate goal of this implementation is

[2017-11-22 18:26] rc-ms commented on #2
Hello @pcm32 and @bgruening  created new issue #4 to discuss our configuration / operational issues. @abhi2cool will upload logs and configuration info forthwith.  thanks!

[2017-11-22 18:27] rc-ms commented on #4
latest configuration issue:

11/22/17 16:24:23 SECMAN: FAILED: Received "DENIED" from server for user unauthenticated@unmapped using no authentication method, which may imply host-based security.  Our address was '10.244.2.23', and server's address was '10.244.0.187'.  Check your ALLOW settings and IP protocols.
11/22/17 16:24:23 ERROR: SECMAN:2010:Received "DENIED" from server for user unauthenti

[2017-11-22 18:31] bgruening commented on #4
@rc-ms can you tell me how you run the containers, which containers and a few more details to reproduce it?

[2017-11-22 20:18] rc-ms commented on #4
hi @bgruening apparently @abhi2cool got it running. I'm hoping he'll publich details of our setup here soon

[2017-11-23 11:37] bgruening commented on #4
@rc-ms thats good to know. My setup is also working as expected. Let me know if we need to change something.

[2018-01-05 17:40] rc-ms commented on #4
Hello there.

Abhik has published a Helm Chart version of our Galaxy cluster.  We have run on Azure but want to confirm others can as well.  Here's the [Helm Chart](https://github.com/abhi2cool/galaxy-kubernetes-htc-condor/tree/helmv1/helm/galaxy):

https://github.com/abhi2cool/galaxy-kubernetes-htc-condor/tree/helmv1/helm/galaxy

If you have an Azure account and have installed the [azure-cli](htt

[2018-01-05 20:47] pcm32 commented on #4
Hi @rc-ms and @abhi2cool, did you try using first the galaxy-stable helm chart available on [this other branch](https://github.com/galaxyproject/galaxy-kubernetes/tree/feature/sync_with_galaxy_stable/galaxy-stable)? Since most of the files in abhi2cool's are copies of our original chart (and is not work from scratch), I don't think it makes sense to diverge here. I don't personally see the point o

[2018-01-09 19:41] rc-ms commented on #4
Hi Pablo thanks for the prompt response.  We went with HTCondor since we were advised to.  @afgane and @nuwang can you advise here?  Also @abhi2cool pushed those files by mistake. I think he's updating it and will also make it a PR.

[2018-01-10 13:18] nuwang commented on #4
@pcm32 @rc-ms The overall plan was to have @abhi2cool's work be a PR against the work you've done Pablo, and be made part of the primary Galaxy Helm Chart at: https://github.com/galaxyproject/galaxy-kubernetes. The plan was for the PR to include a few enhancements, among other things, support for proftpd and HT-Condor. The reason we thought that it would be good to have HT-Condor as an option was

[2018-01-10 14:10] pcm32 commented on #4
@nuwang in that case, @abhi2cool should be looking at the branch (https://github.com/galaxyproject/galaxy-kubernetes/tree/feature/sync_with_galaxy_stable/galaxy-stable) I mentioned, where all my work for a non-phenomenal container support has been carried on. There is already there support for proftpd, and I'm more than happy to review a PR where Condor support is added with the adequate condition

[2018-01-10 14:14] pcm32 commented on #4
Regarding maturity of Kubernetes, that is of course for each to consider on their own use case. What I can say is that we use it in PhenoMeNal as the job scheduler/dispatcher for more than a year now, and increasingly in high load scenarios. But I don't oppose in any way having an optional setup for spanning Condor containers inside k8s.

[2018-01-18 13:47] abhi2cool commented on #4
Hi all
The Helm Chart version of the Galaxy Cluster is available at https://github.com/abhi2cool/galaxy-kubernetes-htc-condor
This work is basically an attempt to replicate the Galaxy Docker-compose/Swarm implementation on Kubernetes via Azure wherein we are using the identical containers and images (we went the Ht-condor way, so no slurm :P)
I would really appreciate it if you guys could go throu

[2018-01-18 19:15] rc-ms commented on #4
Hola.  I wanted to respond with an update and ideally some context as to how we ended up in a different place with our version @pcm32 and @bgruening .  As written and referenced by @afgane and @nuwang, [this doc](https://docs.google.com/document/d/1jmQk1Rsp9St3QUybD7EwA353naga55YmI63ssbOaWoE/edit) outlines the core deliverables and implementation direction.

In addition, we wanted to set up a solu

[2018-01-24 04:32] rc-ms commented on #4
hello Pablo @pcm32 I'm in the process of trying to get both @abhi2cool and your implementations running, sadly with limited success with each. I was able to I think successfully launch my cluster and deploy your chart but can't access the galaxy instance.  could you elaborate on this section of your doc? https://github.com/galaxyproject/galaxy-kubernetes#sqlite-local-deploy-on-minikube.  I couldn'

[2018-01-24 10:21] pcm32 commented on #4
Hi @rc-ms you are probably using the branch that is supposed to work only with Galaxy containers that are "like" the PhenoMeNal one. Last time I checked @abhi2cool, it was based on that branch as well. You essentially have two choices here:

- Try the other branch I mentioned above. That means checking out and doing helm install ./galaxy-stable with a proper config file.
- Make a temporal Galaxy c

[2018-01-24 10:23] pcm32 commented on #4
You shouldn't need to do those port exposures... and kubernetes nodes won't normally allow you to access 8080... there is only a range allowed (where 30700 is within).

[2018-01-25 17:20] rc-ms commented on #4
thanks Pablo.  I'm going to take a stab at your suggestions (fyi i was trying to deploy your containers).  My efforts to date showed me successfully installing things from a deployment perspective but unable to connect to the galaxy instance itself (I did get the nginx homepage though).  have you deployed these containers on any cloud providers or are you using your own local infrastructure?

[2018-01-26 11:04] pcm32 commented on #4
Can you paste the helm install command that you're using? Thanks!

[2018-01-26 11:13] pcm32 commented on #4
We deploy PhenoMeNal with the galaxy chart (not galaxy-stable) on GCE, AWS, Azure and in various OpenStacks instances (EBI, de.NBI, Uppsala, etc). The helm chart should be in any case  (and I think it is) completely cloud provider agnostic.

[2018-02-01 14:11] pcm32 commented on #4
@rc-ms just to update you, I have just tested things yesterday (https://github.com/galaxyproject/galaxy-kubernetes/tree/feature/sync_with_galaxy_stable/galaxy-stable) and the deployment is working fine. I have improved a few things, probably need to make sure that the documentation has everything, this is probably the main missing bit.

[2018-04-20 21:54] pcm32 commented on #3
Will close this as it is mostly addressed by work on the branch feature/sync_with_galaxy_stable, which is functional albeit lacking a bit of documentation. PhenoMeNal public instances have been running on the compose setup for some months now.

[2018-04-20 21:54] #3 closed

[2018-05-04 06:31] nuwang opened #6 "Helm Chart: Pulling it all together"
Hi,

Thought of creating a new issue to discuss how we can pull all this work together in time for GCC, for integration with CloudMan. The original issues have become a bit stale now but for reference: https://github.com/galaxyproject/galaxy-kubernetes/issues/1, https://github.com/galaxyproject/galaxy-kubernetes/issues/2 and https://github.com/galaxyproject/galaxy-kubernetes/issues/4.

Have taken

[2018-05-09 19:30] rc-ms commented on #6
Thanks for this update Nuwan.  Great suggestions.  I'm going to figure out if there's a way to fund this work in time for GCC. I'll keep you posted on progress.

[2018-05-09 20:35] pcm32 commented on #6
Hi everyone,

First, let me tell you that both PhenoMeNal Public instance and Publicdev instances have been running with the new helm chart and community images based containers (plus our init flavouring) since around February or so. I also managed to make a deployment on a completely Google-native Kubernetes cluster (as opposed to kubenow or kubespray deployed on GCP).

Let me go point by point:

[2018-05-11 08:13] nuwang commented on #6
@rc-ms Thanks RC, that'd be awesome, even if it's after GCC. For GCC, we may be able to get by just by limiting scope.

@pcm32 Thanks for the detailed update. A few comments.

This would be great. We can start issuing PRs on a common code base afterwards.

I'm happy to give this a go. I've seen stolon, but as you said, no postgres chart with HA support has made it to the official repo yet. Still,

[2018-05-19 14:00] nuwang opened #10 "Galaxy-stable chart doesn't start up with default settings."
How to recreate:
I checked out the develop branch and tested against minikube. Did not make any changes - simply ran a `helm install .`

The galaxy-stable chart installs without a hitch. However, when attempting to access the galaxy service via the NodePort, it simply returned a 404. The galaxy container's logs revealed the error:
`
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) unabl

[2018-05-19 14:02] nuwang commented on #10
I forgot to add. The repo I used was:
`
helm repo add https://pcm32.github.io/galaxy-helm-charts
`

[2018-05-21 10:08] pcm32 commented on #10
Thanks for pointing this out! Because of the minikube / actual cluster duality, I guess there is no clear default, but we could try to make it as smooth as possible. I don't think that in the documentation I mentioned any default case though, but using some example configs (which I will look into making more clear and standard). Currently blocked becuase of some issues with 18.01 images, but I wil

[2018-05-26 08:36] pcm32 commented on #10
This [addition to docs](https://github.com/galaxyproject/galaxy-kubernetes/blob/feature/add-container-building-script/README-galaxy-stable.md#tldr) should help as a default minikube, although the vanilla instance lifted is more or less useless as it doesn't include much tools and it won't submit jobs to k8s because stock images are not configured to do so.

[2018-06-01 23:32] pcm32 commented on #10
Given #11 I will close this, but please reopen if needed.

[2018-06-01 23:33] #10 closed

[2018-06-01 23:38] pcm32 opened #13 "Test should check for adequate deployment on k8s"
Currently, tests are just linting the charts, a deployment on minikube should be tried as well.

[2018-06-02 13:01] nuwang opened #15 "Install not prefixed with release name"
Currently, the galaxy installation is not prefixed with the release name, which means that only one instance of the chart can be installed per namespace. It would be good to support the standard convention of prefixing by release name so that we can support multiple galaxy installations. This will be particularly useful in future when we have multiple users having private galaxys, as well as durin

[2018-06-02 13:17] nuwang opened #16 "Handling pre-installed data"
Currently, the table creation script is being run on database startup (https://github.com/bgruening/docker-galaxy-stable/blob/master/compose/galaxy-postgres/init-galaxy-db.sql.in). How does this work with pre-loaded data? e.g. Preloaded workflows etc.

Do we have to consider a solution like the one below:
https://www.3pillarglobal.com/insights/how-to-initialize-a-postgres-docker-million-records?cn

[2018-06-02 22:17] pcm32 commented on #15
Hi! This is the case on the galaxy-stable chart, which is the one used for the community images.

[2018-06-03 17:39] pcm32 commented on #15
I will close this given my comment above, but please reopen if needed.

[2018-06-03 17:39] #15 closed

[2018-06-08 20:42] afgane opened #19 "Getting jobs to run on k8s native"
Based on the template from here https://github.com/bgruening/docker-galaxy-stable/blob/master/compose/.env_k8_native, @nuwang updated the settings for galaxy configs to match: https://github.com/galaxyproject/galaxy-kubernetes/blob/update_chart_conventions/galaxy-stable/values.yaml#L63 with the intent of getting Galaxy jobs to run on the same k8s cluster as Galaxy. However, jobs just keep going to

[2018-06-08 22:09] pcm32 commented on #19
I have never used or seen that .env that you mention from docker galaxy stable before. A long time ago I changed a number of things in that repo that referred to k8 (as it  is written the yaml mentioned) instead of k8s, so maybe that .env is not be very recent.

Did you add the job_conf.xml into the derived init container as suggested in the documentation?

In PhenoMeNal I could never make it work

[2018-06-08 22:13] pcm32 commented on #19
Point me to the derived init image and job conf that you're using there.

[2018-06-08 22:32] pcm32 commented on #19
I would expect this part to have as default runner the k8s runner:

https://github.com/galaxyproject/galaxy-kubernetes/blob/update_chart_conventions/galaxy-stable/values.yaml#L72-L75

 I don't expect Galaxy to be able to do docker within docker in k8s, so docker based setup on those lines might not be getting picked up, or I have never tried it within k8s.

[2018-06-08 22:47] pcm32 commented on #19
Maybe it would be easier if you start with a closer setup to the one we use routinely on PhenoMeNal, and you change it piece by piece? and then when that works, move to the refactored setup (which I think is becoming an excellent update!) that you have been working on for the past few days. Otherwise, it is hard to tell whether we are lacking config or something went missing while refactoring.

[2018-06-09 15:42] nuwang commented on #19
@pcm32 The images we've used are: pcm32/galaxy-init and pcm32/galaxy-web-k8s with tag: v18.01.
These are the current defaults in the branch we are working on. Setting it to k8s_runner also doesn't work, but docker_dispatch seems like it ought to be the correct target, since that appears to dispatch to kube if a docker container is available, or use the local runner if not.

This is the full job co

[2018-06-11 08:49] pcm32 commented on #19
When you say that you're using `pcm32/galaxy-init`, did you extend it as advised in the docs:

https://github.com/galaxyproject/galaxy-kubernetes/blob/develop/README-galaxy-stable.md#using-docker-galaxy-stable-compose-images

One of the differences between the vanilla 18.01 and the PhenoMeNal 18.01 is tools.destinations_default is set to k8s on the second one, did you set the equivalent var on the

[2018-06-11 19:25] afgane commented on #19
We didn't extend it but only installed a tool that exists in biocontainers (bwa, listed here https://github.com/BioContainers/mulled/blob/master/packages.tsv).

Thanks for the pointers; we'll revisit this a bit later after we iron out some of the more blocking issues.

[2018-06-11 21:01] pcm32 commented on #19
What do you get in the galaxy logs once a job is submitted? The container id null error? I'll try to run a tool through the automatic container resolution during the week.

[2018-06-12 14:00] pcm32 commented on #19
Update on this, I think is an issue appearing when moving from 17.09 to 18.01, we might be lacking something container/config wise. I cannot upload files from URL or direct upload. Will keep you posted.

[2018-06-12 16:09] pcm32 commented on #19
Ok, I pushed a fixed version of the containers, I uploads and jobs now work on my 18.01, they should work on yours @afgane @nuwang.

[2018-06-12 16:09] pcm32 commented on #19
(provided that the conda -> container magic works well)

[2018-06-14 19:51] afgane commented on #19
Thanks Pablo! Are these the `pcm32/galaxy-init:v18.01' and `pcm32/galaxy-web-k8:v18.01` images?

[2018-07-10 08:47] pcm32 opened #24 "[2.0] db-connection config map doesn't get deleted on helm delete"
Using the new chart specification:

[code]

Might be an issue of the chart not starting correctly the first time though... will monitor.

[2018-07-10 08:59] pcm32 commented on #24
Yes, I can confirm it persists even after a correct deployment and deletion (db-connection).

[2018-07-10 10:14] pcm32 opened #25 "[2.0] Breaks HTTP access to history or welcome page depending on how is started"
I'm trying the new 2.0 chart spec with a completely PhenoMeNal agnostic setup. If I set ingress to false , without changing any other defaults, it shows the following error in red on the Galaxy main page:

[code]
This happens regardless of whether you try to access Galaxy on `/galaxy` or without a prefix. When you access on `/galaxy`, the errors above show an additional `/galaxy` added (so you see

[2018-07-10 10:17] pcm32 commented on #25
Could this be an issue related to the move to 18.05?

[2018-07-10 10:35] pcm32 commented on #25
Ok, setting `galaxy_conf.filter-with: /galaxy` seems to fix it (I don't see my welcome page, but I don't see the errors anymore :-) and I can see my tools. Should we set this as an env variable based on the path value that we use on ingress.path? or should we have a higher level variable prefix somewhere in the helm chart that sets all of these other dependent vars? I would incline for the last ch

[2018-07-10 13:05] nuwang commented on #25
@pcm32 Yes, I think this is related to 18.05. Since 18.05, uwsgi is the default, and filter-with no longer applies. I like the idea of setting a higher level variable prefix too. It's too bad that helm doesn't allow templating in the values file, unlike Ansible. This makes it difficult to declare a common variable and reuse it across the values file.

[2018-07-10 13:11] pcm32 commented on #25
So why is it working (at that level at least) when setting `galaxy_conf.filter-with:`? Do you know if there is a good transition guide out there for 18.05 changes?

[2018-07-10 13:18] nuwang commented on #25
@pcm32 I only have a passing familiarity with the proxy-prefix stuff. @afgane modified the chart to support proxy prefixes, so I think he'll be able to shed some light on this, but I'm fairly certain that filter-with is not supposed to be used anymore (although it may work anyway). @natefoo mentioned a new property, but I can't quite recall what it is any more.

While we are on this subject, do yo

[2018-07-10 13:30] nuwang commented on #24
This seems to be coming from the postgres-for-galaxy chart, which is no longer used in 2.0?

[2018-07-10 14:21] pcm32 commented on #24
Could be the reason, I noticed I had the tar.gz for the other chart, which is ignored by github....

[2018-07-10 14:22] pcm32 commented on #24
But then I have been running for a while now without the old postgres tar.gz, and still see these. I'll come back to this when I sort out my http issues on 18.05....

[2018-07-10 14:55] pcm32 commented on #25
Currently I no longer see the mentioned errors, but I cannot see the welcome page and when I try to upload files I get a failure (red) with the following text: `Warning: Not Found (404)`. The uwsgi log only shows:
[code]
without any suggestion of an error. Interestingly, the handler logs at `/var/log/supervisor/` show no movement either. Could it be a problem of the handlers not receiving the uplo

[2018-07-10 15:22] pcm32 commented on #25
The most frustrating part is that I don't seem to get any traces of the errors on any of the logs :-(, so not sure if it is an http problem or handlers/destination related.

[2018-07-10 15:33] pcm32 commented on #25
If I don't set `galaxy_conf.filter_with=/galaxy`, I get this sort of errors on the uwsgi (unrelated to the uploads):
[code]

[2018-07-10 15:39] pcm32 commented on #25
And also login doesn't seem to work... it doesn't complain about credentials, but gets back to the non-logged in web page...

[2018-07-10 20:48] pcm32 commented on #25
Ok, all my fault apparently, if I do everything on `http://server/galaxy/` everything seems to work (login, data upload, send jobs - even to k8s). However, for some reason, going just to `http://server/` still shows Galaxy, but is not functional in the ways described, which is probably undesired. I still don't get t o visualise my landing web page, but that is probably easier to fix I guess. Would

[2018-07-10 21:50] pcm32 commented on #19
Have you guys managed to get this working locally? I got it working with 18.01 sometime ago and now with 18.05 independent of PhenoMeNal through [this setup](https://github.com/ebi-gene-expression-group/container-galaxy-sc-tertiary/blob/develop/helm-configs/tertiary-portals-galaxy-18.05-minikube.yaml). Let me know so that we can close this.

[2018-07-10 21:51] pcm32 commented on #2
I think that this has been working for a while as well, so I will close this. Let me know if you lack documentation (and where) to make it work locally.

[2018-07-10 21:51] #2 closed

[2018-07-10 21:52] pcm32 commented on #1
This is quite outdated, and most objectives achieved, so I will close this now. Please reopen if needed.

[2018-07-10 21:52] #1 closed

[2018-07-19 15:52] #25 closed

[2018-07-19 15:52] #24 closed

[2018-07-19 15:53] pcm32 commented on #19
@afgane have you managed to achieve this? Can I close the issue?

[2018-07-19 23:13] afgane commented on #19
We have not had a chance to work on this at all and, during GCC, we came up with a slightly different immediate focus (https://github.com/galaxyproject/galaxy/issues/6426) so, if you want, feel free to close this for now and we'll revisit at a later date.

[2018-09-12 08:35] pcm32 opened #28 "[2.0] Helm upgrade breaks run"
The following has happened twice (without any other time being succesful):

When attempting to do a helm update, the running Galaxy container fails with:

[code]

I reckon that this must be associated to the fact that both new and old Galaxy are looking at the same PVC.

[2018-09-12 15:00] nuwang commented on #28
I guess this boils down to the issue that the Galaxy container is currently pushing out code, in addition to data, to the PVC (specifically, the galaxy-central folder containing the source as I recall). That needs to be fixed anyway, so that only data is pushed out, and upgrading becomes a simple matter of swapping out containers?

[2018-09-12 15:41] pcm32 commented on #28
Totally agree, that is how I used to do it before moving to the docker-stable images. We need a new setup at the level of the docker images used.

[2018-09-18 14:01] pcm32 opened #29 "[2.0] welcome.html is not being served correctly"
On the new helm chart setup, content is being served on `http://<host:port>/galaxy/` prefix. In this setting, adding a welcome.html page as describe in docker-galaxy-stable (as done [here](https://github.com/ebi-gene-expression-group/container-galaxy-sc-tertiary/blob/9a697471ff88634f5dfb5a8b87d188c1f458e913/Dockerfile_init#L24)) produces that Galaxy points the browser to find the html in `http://<

[2018-09-18 14:28] pcm32 commented on #29
I think that this is produced because the nginx in the container is configured to use directly `/` where as UWSGI is configured to use `/galaxy`. The problem, seems to be, is that nginx configuration happens at container build time, whereas UWSGI setup happens at runtime through environment variables.

Any opinions @bgruening ??

[2018-09-18 15:31] pcm32 commented on #29
Ok, I think I have sorted this out by adding uwsgi variables support on the helm chart. Will PR soon after finishing tests.

[2019-01-30 00:57] afgane opened #31 "Add support for CVMFS CSI"
Given there can be many job containers running on a given K8S node, it does not seem to make sense for each of them to have a CVMFS client for accessing Galaxy's reference data. This would complicate the job container plus lead to very redundant network traffic where each container is retrieving its own copy of the data.

It seems CVMFS CSI is intended to solve this issue by creating a volume on a

[2019-01-30 10:22] pcm32 commented on #31
I haven't tried it, but the reasoning of avoiding direct CVMFS mounts per container and deal with this centrally on the setup, having it as a single read-many PV dynamically provisioned via StorageClass, sounds adequate.

[2019-02-20 01:33] eslerm opened #35 "Broken helm repo"
The [galaxy-helm-repo](https://pcm32.github.io/galaxy-helm-charts) from the README appears to be broken.

[2019-02-20 15:48] pcm32 commented on #35
Hi, thanks for reaching out. Could you paste the error that you get please?

[2019-02-20 22:10] eslerm commented on #35
Hi pcm32. I must have made a mistake. Earlier I was getting a ImagePullBackOff error, but the helm install scripts are working for me now.

[2019-02-20 22:10] #35 closed

[2019-03-06 14:03] #29 closed

[2019-03-06 14:06] pcm32 opened #36 "underlying postgres chart not responding to livenessProbes and readinessProbes changes"
When I set:

[code]

the probes don't change. Probably an underlying issue of the postgres chart. Apparently stable/postgres has advanced a lot but now geared for postgres 10, so we might want to be careful with that change to keep support for older versions.

[2019-03-06 14:20] pcm32 commented on #36
This is problematic because is some slower file systems the database setup can take slightly longer than in the probes and then the process gets killed in the middle. Unless that we can activate some graceful restart for postgres.

[2019-03-15 10:30] pcm32 commented on #19
@afgane ping, is this working for you now? Should we close it?

[2019-03-15 14:06] afgane commented on #19
We can close as a I haven't gotten back to this and not sure I will.

[2019-03-15 14:06] #19 closed

[2019-04-02 14:43] ilveroluca opened #38 "admin.email isn't added to galaxy_conf.admin_users"
Using the `galaxy-stable` chart version 2.0.2.  When I configure a new user for my deployment through the `admin:` values (`username`, `email`, etc.) it doesn't get added to the `galaxy_conf.admin_users:` list.  I would expect this to happen automatically since the new user account is configured in a section called `admin` :-)

[2019-04-02 15:50] pcm32 commented on #38
I think that currently one needs to repeat the setting under:

[code]

but is true that ideally setting admin.email should fill that other variable (although I'm not sure how to do that at the helm chart level).

[2019-04-04 14:27] ilveroluca opened #39 "galaxy deployment's preStop command fails"
The preStop hook in the galaxy pod is failing to run, so I'm getting these events when I try to pull it down:

[code]

I think the path to `run.sh` specified in the lifecycle.preStop.exec.command should be relative to the export directory (which is specified as the `workingDir`), so `"./galaxy-central/run.sh"`.

[2019-04-30 10:55] pcm32 opened #40 "Something to keep an eye on for outsourcing our postgres setup"
Not sure if this plays nicely with helm, but might be worth looking at:

https://kubedb.com/docs/0.9.0/guides/postgres/

[2019-06-14 22:13] afgane opened #42 "RFC: Branch organization and repo rename"
I'd like to propose a branch (re)organization on this repo to the following:
- [x] Create/use _version branches_: `v1.x`, `v2.x`, etc. These branches would contain previous versions of the chart that are not really compatible with the version currently being developed. Note that these would not be chart releases, as indicated by the flexible `1.x` number. The actual chart releases are captured in

[2019-07-11 13:53] afgane commented on #42
@pcm32 Any chance you could take a look at the branches on this repo and see if any can be cleaned up?

[2019-07-11 15:18] pcm32 commented on #42
Sure, will take a look... I think there is one feature branch that is active and the other ones are merged... will check asap.

[2019-07-17 10:59] lizhi16 opened #46 "Building Galaxy Interactive Environment with Kubernetes on my own server"
I am trying to deploy the galaxy:19.05 with kubernetes following this project And it works.

But after setting the interactive environment following with https://docs.galaxyproject.org/en/master/admin/special_topics/interactive_environments.html, an error shows up when I tried to use the GIEs on the website.

error: GIEs are a fairly complex deployment and sometimes need maintenance. It seems that

[2019-07-17 11:12] pcm32 commented on #46
Hi @lizhi16, AFAIK, there is no support yet for Interactive Environments on Kubernetes. It would have to be implemented. Currently IE rely heavily on talking to the docker engine directly, and what would be needed would something to adapt it to talk to Kubernetes. I started something some months ago, but haven't had the chance to finish it.

[2019-07-18 17:32] afgane commented on #46
Also of relevance is the (currently open) InteractiveTools PR (https://github.com/galaxyproject/galaxy/pull/7494), which is supposedly likely to have support for Kubernetes by the time it gets merged, and arguably looks like a better path going forward.

[2019-07-18 19:37] pcm32 commented on #46
Yes, InteractiveTools seem much easier to integrate than interactive environments!

[2019-07-22 13:12] lizhi16 commented on #46
@afgane Thanks for your reply. But I'm sorry, I don't get what is the InteractiveTools PR. Is that the tools listed in the left bar of the galaxy webpage? Or it is tool similar to the Interactive Environments and can make users interactive with their data? Thank you!

[2019-08-17 08:05] jianlianggao opened #51 "403 error minikube local deployment with galaxy-stable-phenomenal-18.01-minikube.yaml"
[logs-from-galaxy-k8s-in-f1-galaxy-stable-788f4fb5f8-vgn75.txt](https://github.com/galaxyproject/galaxy-helm/files/3511774/logs-from-galaxy-k8s-in-f1-galaxy-stable-788f4fb5f8-vgn75.txt)

Hi all,

I used galaxy-stable-phenomenal-18.01-minikube.yaml and helm to deploy galaxy-k8s on my Windows 10 computer. helm install -f galaxy-stable-phenomenal-18.01-minikube.yaml --version 1.5.5 galaxy-helm-repo/g

[2019-11-01 15:37] afgane opened #63 "Figure out how to reasonably appropriate job resources"
Per-tool resource request limits are needed. However, it's not a simple table we can compose and use. The current _usegalaxy.*_ efforts use a combination of dynamic rules and tables, which are not straightforward to apply or translate.

Main:
- https://github.com/galaxyproject/usegalaxy-playbook/blob/master/env/main/templates/galaxy/config/job_conf.xml.j2
- https://github.com/galaxyproject/usegala

[2019-11-01 15:45] martenson commented on #63
And EU uses https://github.com/usegalaxy-eu/sorting-hat.

To abstract this into a common library would be very helpful but challenging task.

[2019-11-08 22:11] huster16 opened #65 "using kubernetes build galaxy error"
1. when I use kubernetes 1.15 or 1.14 to build the galaxy, I meet an error:
Error: secrets "galaxy-galaxy-db-password" is forbidden: User "system:serviceaccount:kube-system:default" cannot delete resource "secrets" in API group "" in the namespace "default"

[2019-11-09 00:33] almahmoud commented on #65
I have not seen that error before, but can certainly help you debug if you give us a few more details. A good place to start is helping us replicate your set-up to either figure out what was going wrong, or help us find a bug if the problem stems from the chart.
First of all, what environment are you running in? Eg: Is it a local kubernetes cluster (if so, on what OS, and is it using minikube, doc

[2019-11-09 01:54] huster16 commented on #65
Thank you so much. I will describe all the details and building process:
I run the Kubernetes on two virtual machines, and the configurations of them are the following:
[code]

And I don't use minikube, here is my process to build kubernetes:
**Environment **
[code]

**Configurations**

[code]

**Install kubeadm、kubelet、kubectl*
[code]

**Config Networking**
[code]

**Set Hostname**
[code]

**Depl

[2019-11-09 01:59] huster16 commented on #65
@almahmoud And in the same environments, I met another error when I used the Kubernetes version 1.16:

[code]
And I try to use the minikube to deploy the Kubernetes, I also met this error.
[code]

[2019-12-18 12:49] nuwang opened #85 "Set additional Galaxy settings"
id_secret: this is urgent and should be an auto-generated secret.
galaxy_infrastructure_url should point to the service_name of Galaxy
galaxy_infrastructure_web_port may need to be set.

[2019-12-18 12:52] nuwang commented on #65
@huster16 Has this issue been resolved? Did you try the latest version of the chart, I think the StatefulSet issue may have been resolved with that.

[2019-12-18 12:59] nuwang commented on #46
@lizhi16 At present, neither interactive environments nor its successor interactive tools are supported by the helm chart. However, this will be worked on in the first half of next year.

[2019-12-18 13:00] nuwang commented on #51
@jianlianggao That values file is from an older version of the chart. Have you tried the latest version?

[2019-12-18 13:01] nuwang commented on #42
ping @pcm32 Let us know which branches you want to keep and we'll delete all the rest.

[2019-12-18 13:03] nuwang commented on #4
I'll close this since it's stale now.

[2019-12-18 13:03] #4 closed

[2019-12-18 13:04] nuwang commented on #6
Closing because most of the work is done.

[2019-12-18 13:04] #6 closed

[2019-12-18 13:06] nuwang commented on #16
We are importing a db dump on startup, which is performing adequately. So closing.

[2019-12-18 13:06] #16 closed

[2019-12-18 13:07] nuwang commented on #28
Closing because stale and fixed in latest.

[2019-12-18 13:07] #28 closed

[2019-12-18 13:08] nuwang commented on #31
CVMFS-CSI has been integrated, so closing.

[2019-12-18 13:08] #31 closed

[2019-12-18 13:09] nuwang commented on #38
Closing because this is handled differently in latest chart version.

[2019-12-18 13:09] #38 closed

[2019-12-18 13:10] nuwang commented on #39
Should be fixed in latest.

[2019-12-18 13:10] #39 closed

[2019-12-20 12:34] #46 closed

[2019-12-20 12:34] #51 closed

[2019-12-20 12:35] #65 closed

[2020-02-03 17:09] pcm32 opened #106 "Ingress & PriorityClass versions are not compatible with k8s 1.13"
Using current master. I'm running with the following versions:

[code]

Using a values file for my settings:

[code]

On the values file I have additional configs for galaxy.yaml, but I doubt that they would have any impact.

When executing inside the galaxy directory:

[code]

I get:

[code]

Thanks!

[2020-02-03 17:19] pcm32 commented on #106
Ok, Ingress moved to `v1beta1 networking.k8s.io` on 1.14, so documentation is wrong and 1.13 is no longer supported.

[2020-02-03 17:27] pcm32 commented on #106
PriorityClass move to v1 on 1.15. So, question is, do we really need to move forward on these two to leave 1.13 behind?

PriorityClass v1beta1 would allow backward compatibility to 1.13.
Ingress v1beta1 extensions would allow backward compatibility to 1.13.

[2020-02-03 17:33] pcm32 commented on #106
Ingress was changed of version here: https://github.com/galaxyproject/galaxy-helm/commit/d3b0317341b79a4c56d3ca1478b11d50849b59ec#diff-3c8c73dd3591f76316dd67ad252b85a8L5

Did the annotation require it?

PriorityClass was first used here: https://github.com/galaxyproject/galaxy-helm/commit/bbea6846d3c8dce2b262d9683a22a27e70dc66aa#diff-16cf5ea7ab499aa6c466886c0df38794

Would it be feasible to use an

[2020-02-03 17:35] pcm32 commented on #106
@nuwang would you be happy to revert the mentioned versions of the API objects for backward compatibility? Thanks

[2020-02-03 17:46] pcm32 commented on #106
Making those changes allows the setup to be deployed on 1.13 :-).

[2020-02-03 17:48] almahmoud commented on #106
If you already have the changes, could you push a quick PR with them?
I can test with Helm 3 and K8S 1.17, and if nothing breaks I'd vote we can go ahead and change them to be backwards compatible as long as possible.

[2020-02-03 17:50] pcm32 commented on #106
Sure, will do!

[2020-02-03 18:14] pcm32 opened #108 "Installation of tools via ephemeris produces a timeout"
Installing tools via ephemeris using:

[code]

produces the following time outs:

[code]

They seem to be harmless, but I wonder if this is somehow related to the lack of an nginx setup at the front?

The tools on the tool panel don't look good though (and we use this same setup to provision other Galaxy spin ups), but maybe that is because the process is still on-going?

Is it harmful to have mor

[2020-02-03 18:23] pcm32 commented on #63
Yes, I have been through this painful process of having to set tool requirements. What I do currently (on LSF) is to have incremental buckets of resources and allow for auto-resubmissions when jobs hit the limit of that resource bucket, automatically sending it to the next bucket. It can be a pain for larger jobs, because they get re-submitted a number of times, but at least I don't any longer nee

[2020-02-03 20:52] almahmoud commented on #108
Conda dependencies are turned off. When a tool is invoked, a biocontainer name is generated based on tool dependencies. Re the installation, to my understanding, installing a tool will get the wrapper and tool scripts from the toolshed to the `shed_tools` directory and update the `shed_tool_conf`, both of which are on the NFS and shared among all the running handlers. I believe Galaxy also has wat

[2020-02-03 20:56] almahmoud commented on #106
Closing with the merged PR. Thank you for this!

[2020-02-03 21:08] pcm32 commented on #108
Well, ephemeris just calls the underlying REST API, so I would assume they are equivalent. Anyways, besides taking a long while to install (229 + 46 + 19 tools, considering different versions, in total) from the toolshed, seems to be fine.

[2020-02-03 21:09] pcm32 commented on #108
...and tools are working correctly :-)

[2020-02-03 21:20] almahmoud commented on #108
Regarding:

If you have a pre-boot list of what tools you'd want, you could theoretically just add them to the `tool_conf.xml` in values to load the tools from the toolshed repositories on the CVMFS rather than fetch them from the toolshed onto the NFS.

[2020-02-03 21:23] pcm32 commented on #108
ahhh, so the CVMFS mount has all the toolshed tools? What about the database part of the installation? or is that in the CVMFS as well? Thanks!

[2020-02-03 21:51] pcm32 commented on #108
Ok, I think that the refresh between web handlers of installed tools is not working great (this might be an underlying issue with Galaxy, as I think I have seen this on my HPC installations). Basically, if I open a workflow that uses many of the tools installed, every time I open it for edition, its telling me that different tools are missing. So I'm guessing that certain web handlers are spotting

[2020-02-03 22:07] afgane commented on #108
You should be able to skip `--install_resolver_dependencies` if you have corresponding containers for the tools because anything that gets built is not actually used/available to the tools when they run. That should speed up the installation significantly.

[2020-02-03 23:16] almahmoud commented on #108
We don't have an install database and the tools are being loaded without it, specifically, you'll see the following message in the logs:
https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/tools/toolbox/base.py#L710

It's not only IUC. At least all the tools on Main should be on the CVMFS `main.galaxyproject.org` repository, and for a rough idea from a list I had from a few months ago, the

[2020-02-05 18:05] #85 closed

[2020-02-12 18:44] pcm32 opened #112 "Refactoring on secret breaks helm upgrade at same version 3.2.0 or helm install on top of pre-existing PVCs"
I had an instance provisioned with the last commit I got merged a few days before #109 was merged. On an upgrade operation against the current master you get:

[code]

on inspection, this is probably due to the refactoring of the secret.

[code]

Upon these refactoring we should probably produce a new version so that whoever was using 3.2.0 is safe at least on that version.

[2020-02-12 18:52] pcm32 commented on #112
Upon a new helm install but on top of the same PVCs that were hosting galaxy and postgres (so not deleting the persistent volume claims), all galaxy pods fail to run due to:

[code]

[2020-02-12 18:55] pcm32 commented on #112
I'm not messing with the database connection in any way in my values file (same values file was working when we merged #107). Any ideas @nuwang ? Thanks!

[2020-02-13 02:56] afgane commented on #112
This is an issue with Helm and random passwords that change on upgrade (https://github.com/helm/charts/issues/5167). Until that issue is resolved, we'll have to explicitly set passwords here, which is not being done right now.

[2020-02-13 08:25] nuwang commented on #112
Our only option appears to be to simply document this issue. There does not appear to be much interest in providing a good solution to this problem on the Helm side.

[2020-02-13 08:58] pcm32 commented on #112
Fair enough, so basically for persistent/restartable deployments we just warn that people need to actually set the password for the db, correct?

[2020-02-13 21:39] almahmoud commented on #112
I don't think the only solution is for us to just document the issue, unless we are specifically trying to not randomize them (in which case, we should at least make them required...).
We can however just create secrets ourselves for components that are hard dependencies eg: Postgres for Galaxy, and then just use the `existingSecret` feature of the postgres chart to use that password depoyed by th

[2020-02-15 03:52] nuwang commented on #112
@pcm32 Yes, that's what I was thinking.
@almahmoud I looked into the secret option - it's pretty brittle because to make it work, we have to identify every subkey that is being referred to in the secret. This means combing through the third party charts regularly and making sure they don't add any new keys etc. It's not impossible to do, but  it doesn't seems worth the hassle. It's easier from a m

[2020-02-15 12:15] pcm32 commented on #112
Ok, but currently that means creating a secret object and referencing it when spinning up the helm chart. This is probably too convoluted for the average user, we need an easier mechanism for this where you can just set the password in a variable and then that gets injected into a secret and so on...

[2020-02-15 12:19] pcm32 commented on #112
ahhh, sorry, missed something... I see that it can be set through var... haven't said anything!

[2020-02-15 13:24] pcm32 commented on #108
...mmm.. our ebi-gxa from the main toolshed doesn't seem to be there. How do we add it there?

[2020-02-15 13:34] pcm32 opened #115 "Best way to have an install / update rolling job for specific set of tools?"
At this point we have deployments on multiple setups, including none cloud ones. So we keep all the tools that we want to have installed in our instances on a yaml file on a git repo from where ephemeris can install from a toolshed. We have some centralised CI that updates tools on each instance whenever there are changes in the git repo with the yaml files, for our non-cloud deployents.

On spin

[2020-02-15 13:45] almahmoud commented on #108
You’d have to PR to https://github.com/galaxyproject/usegalaxy-tools in usegalaxy.org section.
If you message me a list of tools and tool versions, I can also do it for you if you’d like.

[2020-02-15 14:07] almahmoud commented on #115
Jobs sound like a good fit in theory, and I believe cron jobs are the only way to do it for the periodic updates. If you’re doing this manually (w/ kubectl or through dashboard), jobs are probably your best bet.
If you are doing it through helm though, you might be able to “abuse” init containers for this and therefore not require any chart changes. It’s definitely not what they are meant for by d

[2020-02-18 20:45] pcm32 commented on #108
Ok, removing the `--install_resolver_dependencies` makes it faster, like 10 minutes for 46 tools. I'll investigate adding our tools to usegalaxy-tools as suggested by @almahmoud. Thanks for all the feedback guys!

[2020-02-18 20:45] #108 closed

[2020-02-18 20:53] pcm32 commented on #42
I would prefer that we go back to a git-flow scheme again, where we keep tags on the master branch and we develop on develop, which is also the standard practice on many repos (as in the main Galaxy repo, at least the develop part). I would like us also to make more minor releases and actually stick to them (so not over-writing a tar.gz in an archive repo). I need us to do this so that I can leave

[2020-02-18 22:40] afgane commented on #42
The versioning of the chart is absolutely something we should adopt. Thus far, there was no real reason because there had been no initial release and it was only the dev version that existed, constantly churning to put in WIP and bug fixes. In addition, it was a time constraint of setting up the versioning. Given the GVL5 release from Friday, we've reached a milestone and there is new work startin

[2020-02-19 07:36] nuwang commented on #42
Yes, we need to tag and actually release stable versions regularly. The lack of proper CI testing makes this difficult, so once CI tests are in, we should be able to do this frequently. For now, I've tagged a new release to coincide with GVL 5.0.0.

Agree with sticking with a single master branch and keeping things simple. We can tag stable versions periodically and create named branches off those

[2020-02-19 18:58] astrovsky01 opened #117 "Visualization with IGV on VCF files"
Cannot load IGV local on VCF files when running on a GVL 5.0

(Example in this tutorial https://training.galaxyproject.org/training-material/topics/variant-analysis/tutorials/non-dip/tutorial.html#looking-at-the-data)

[2020-02-19 21:38] almahmoud commented on #117
This might be related to `sanitize_whitelist` like JBrowse, but because IGV is not a real tool, not sure if it is (or how to add it) or if there is something else going on. Thoughts @afgane @dannon ?

[2020-02-19 21:47] dannon commented on #117
Hey, thanks for the ping.  Do you have a link to a history I can look at?  If not, I can build one from that guide I guess.

[2020-02-19 22:05] almahmoud commented on #117
I can reproduce on a GVL instance

[2020-02-20 19:37] almahmoud opened #118 "Quast HTML output"
Quast is actually the one with the bad output.
Alex O found the issue a few weeks ago but we never got back to it.
I published a history. If you click on the "visualize" (eye) button on the HTML output of Quast, it's just printed not rendered:
https://htmltest.cloudve.org/initial/galaxy/u/alexm/h/quast-output

I added Quast to `sanitize_whitelist.txt` but it didn't fix it

[2020-02-20 19:38] almahmoud commented on #117
Quast was the one where adding to `sanitize_whitelist` didn't fix the rendering for the HTML output: https://github.com/galaxyproject/galaxy-helm/issues/118

[2020-02-22 23:12] pcm32 opened #119 "Problem setting file through --set-file"
I'm trying to upgrade an existing installation where I'm adding some setup for dynamic destinations like this:

[code]

however the config map where the job rules are being set doesn't seem to like it, failing with:

[code]

I have tried both with the relative path and with the absolute path to the additional file, with no difference. The file is compliant python code (but I would guess that this

[2020-02-23 00:21] pcm32 commented on #119
Ok, this was related to an issue in my config file, it expected all files to be passed with `|`, even if they were yaml files.

[2020-02-23 00:21] #119 closed

[2020-02-23 13:29] pcm32 opened #120 "Heads up for job not being able to write to container space and producing failures."
Most of my usage in the past of Galaxy-k8s relied on tools being run as root, which is not ideal of course. In the current chart that is not longer the case (very good!), however that might bring unexpected issues when running some tools, as the one seen [here](https://github.com/galaxyproject/galaxy/issues/9401). On that case I had to set a profile for the tools (18.01), but I wonder if there is

[2020-02-23 21:27] pcm32 commented on #112
https://github.com/galaxyproject/galaxy-helm/commit/22cb428385c95c14822279d07bd58fe7eb45e64b adds this to documentation.

[2020-02-23 21:27] #112 closed

[2020-02-23 22:58] pcm32 opened #121 "Cannot unset welcome.html set in extraFileMappings to prefer the one in the container"
I have a container based on galaxy/galaxy-k8s:20.01 where I have our branding in welcome.html. However, I cannot seem to unset the one being added by the chart to prefer the one in the container. I have tried:

[code]

[code]

and

[code]

but I always end up with the one added by the chart (you can tell by the modification date of the file).

I was expecting the first one to work... any advice?

[2020-02-23 23:01] pcm32 commented on #121
To add some context, I'm trying this through a helm upgrade, so it might be that there is some issue updating the config map...

[2020-02-23 23:10] pcm32 commented on #121
While I would accept that the ConfigMap won't get deleted by Helm, I wonder why the Deployment doesn't get updated if extraFileMappings changes?:

https://github.com/galaxyproject/galaxy-helm/blob/master/galaxy/templates/deployment-web.yaml#L94

[2020-02-23 23:19] pcm32 commented on #121
ok, using

[code]

worked... I guess my helm/yaml is rusty.

[2020-02-23 23:19] #121 closed

[2020-02-25 19:48] dannon commented on #118
To update this ticket, Quast reports seem to work fine when added to the sanitize whitelist locally.  My entry looks like:
`
toolshed.g2.bx.psu.edu/repos/iuc/quast/quast/5.0.2+galaxy1
`

Might be an issue in how this is propagated through the helm wizardry?

[2020-02-25 21:30] almahmoud commented on #118
Figured out the issue as to why it wasn't propagating. Problem with changing configmaps that are mutable via Rancher/Cloudman is that it will change the readonly one but because the mutable is already there, it won't update it (`-n` flag in: https://github.com/galaxyproject/galaxy-helm/blob/master/galaxy/templates/_helpers.tpl#L80). We however can't have upgrades re-copy blindly, because if you ha

[2020-02-27 18:13] almahmoud opened #123 "Better handling of mutable configs"

[2020-02-27 18:18] almahmoud commented on #118
Closing this, since it's not a Quast-specific issue, in favor of https://github.com/galaxyproject/galaxy-helm/issues/123

[2020-02-27 18:18] #118 closed

[2020-02-27 19:07] nuwang commented on #123
See the general point, but specifically wrt to sanitize_whitelist - does it need to be mutable? What if we made it non-mutable?

[2020-02-27 19:10] dannon commented on #123
@nuwang Not sure I follow -- would that work, just disable the galaxy writes to the file?   Right now the admin interface at `<galaxy-instance>/admin/sanitize_whitelist/` writes to this file when administrators select which tools should be whitelisted.

[2020-02-27 19:13] almahmoud commented on #123
The only way we can make it immutable is if we somehow disable the UI to add tools to it, which I would think is not ideal cause we'd force the admin to manually add them to the file via CloudMan and trigger an unnecessary upgrade in the process

[2020-02-27 19:40] almahmoud commented on #117
Closing this given that behavior is same as Main and IGV just needs a local component.

[2020-02-27 19:40] #117 closed

[2020-02-28 19:55] pcm32 commented on #42
Well, what can I say, I don't like having the same branch for stable, develop and the releases... but, I don't have the time to keep arguing about this. I would hope at least that we protect master from direct commits and that we use squash and merge for a cleaner history (this is how I was doing it I think before you guys took over).

[2020-03-15 19:08] nathanweeks opened #129 "Adding custom tools"
Is there an elegant way to add custom tools in a (somewhat-)declarative way? I naively attempted to define a simple custom tool in the extraFileMappings resource:

[code]

And then set their "content" values from the corresponding files (using Helm 3.1.x):

[code]

However, configMaps created from extraFileMappings to not appear to be mounted in the k8s Job resource that's created to run the tool.

[2020-03-18 21:58] pcm32 commented on #129
Currently what I'm doing to install tools is to direct an ephemeris install tools process to the instance lifted inside the k8s cluster. This suits me because we have other running instances not on k8s and we want to have all our instances with the same tools. However, this is slow, so I want to migrate to a process where I add all installed tools and the sqlite db for tools to a container and the

[2020-03-18 22:02] pcm32 opened #130 "Make a release that is backwards compatible until k8s 1.13 and then move on to remove deprecations"
You might have seen that GKE is moving to k8s 1.16 which will drop a number of deprecated API object versions. We should merge the easiest PRs currently waiting, make a release that we can point to for k8s versions before 1.16, and start moving on to be ahead of the change on GKE.

[2020-03-31 11:32] pcm32 commented on #42
Guys, we haven't had releases for the more than a month now, and some PRs in the waiting. We also need to become compatible with the default k8s that will start to rollout on GCP (see #130 ). I can take a more active role (doing releases and setting a CD for that), but I would like to move back to an scheme where master is only for releases to simplify the CD setup. Since releases have been done m

[2020-03-31 15:27] nuwang commented on #42
As I mentioned earlier, I don't think that follows the norms of most other projects. Usually, the trunk merely contains the aggregate of ongoing development PRs - with tests passing if all goes well. If you want a stable branch, the norm would be to create a fork, or a branch that's "stable" by whatever definition of stable you have.

What I would propose for your CD setup is a custom branch that

[2020-03-31 15:35] almahmoud commented on #42
In terms of CD, I've been working on using Github workflows for automatic version management and packaging.

First round works as of yesterday: When a PR is merged, version is bumped, then chart is packaged and pushed to helm-charts. Version bump is controlled by labels in the PR:
[patch_bump, minor_bump, major_bump] for now, where version is major.minor.patch. Eg: https://github.com/almahmoud/gal

[2020-03-31 15:59] pcm32 commented on #42
which projects do you mean here, and how is that relevant? For what is worth, my proposal is to essentially use git flow, which is probably the most common git branching pattern among existing branching patterns. We do need multiple production versions, and gitflow gives you that.

This stable and trunk speak sounds to me a lot like CSV and subversion, whose paradigms are quite old and left behind

[2020-03-31 20:41] almahmoud commented on #130
To succinctly capture update on this from meeting, I believe the decision is that we're going to parametrize the chart to change API versions for different k8s versions, until changes are so backwards incompatible that it becomes too much of a burden to maintain old k8s versions. At that point we'll revisit, but likely release a final version for old k8s and continue development only for newer ver

[2020-04-17 15:25] nuwang commented on #129
@nathanweeks I think you could map the tool xml and tool_conf.xml as shown in your example, but the tool code will need to be built as a container. I'd suggest building a new container with your py file, pushing it to docker hub, and adding a mapping in `container_mapper_rules.yml` to map your tool_id to the container.

[2020-04-23 12:31] #129 closed

[2020-04-23 12:31] nuwang commented on #13
Fixed in: https://github.com/galaxyproject/galaxy-helm/pull/122

[2020-04-23 12:31] #13 closed

[2020-05-03 18:14] nathanweeks commented on #106
It seems that galaxy/templates/priorityclass-job.yaml  isn't compatible with k8s before v1.15, as sets preemptionPolicy, which wasn't added to PriorityClass until k8s v1.15.

[2020-05-03 18:39] pcm32 commented on #106
Thanks for reporting that. We were thinking on adding some conditionality to be able to enable certain things or not based on k8s version.

[2020-05-03 18:42] pcm32 commented on #106
What is the error that you're getting, I think I was deploying on 1.14 on GKE last week with the latest version and didn't get errors... but I might be wrong in the GKE version. Thanks.

[2020-05-03 18:44] pcm32 commented on #106
yes, 1.14.10-gke27....

[2020-05-03 18:53] nathanweeks commented on #106
[code]

[2020-05-03 20:40] pcm32 commented on #106
Thanks, I haven't tried with Helm v3. On which commit are you regarding galay-helm?

Currently I'm using Helm v2.13.1, although this shouldn't explain the error, normally on the default namespace, and without ingresses as you are doing.

[2020-05-03 20:45] nathanweeks commented on #106
The galaxy-helm commit is 1bbe7e51a076df501f5be35e3c838d3ee485bf01

I haven't tried Helm v2, but I would hope to avoid having to resort to doing that!

[2020-05-04 10:57] pcm32 commented on #106
I would suggest using helm v2, I think that here helm v3 is trying to outsmart API objects versioning and possibly making a wrong turn (in the client side validation), as I know positively that the object involved is available on the exact same version of k8s server that you're trying to use (we have been deploying it using helm v2 for the past few weeks on that version). If the API object wouldn'

[2020-05-05 11:11] nathanweeks commented on #106
Skipping helm, I get an error when trying to create a simplified version of a PriorityClass resource with preemptionPolicy, even after downgrading kubectl to ensure there isn't an issue peculiar to the client:
[code]

Setting `--validate=false` allows the PriorityClass to be created---but seemingly without a preemptionPolicy defined:
[code]

[2020-05-05 11:56] almahmoud commented on #106
Unfortunately, last week when I tried deploying on a GKE 1.14 cluster, I got the same error.
After upgrading the cluster to 1.15, the error went away. I am not sure how this was working for you in the past @pcm32 (maybe Helm 2 is just deploying as with validate off?), but I think we might have to mark the charts as 1.15+ unless we can think of a way to make them backwards compatible again, but I a

[2020-05-07 13:12] pcm32 commented on #106
Weird, I guess that explains it, maybe helm v2 is working with validate off by default.

[2020-05-10 23:03] cyrilcros opened #139 "The initdb secret cannot be created"
Hi,
when trying to install galaxy-helm for the first time on Kubernetes 1.18 bare-metal, I get the following message: `Secret "galaxy-galaxy-initdb" is invalid: metadata.annotations: Too long: must have at most 262144 bytes`
Can you either look into that or provide another way to initialize postgresql?
Thanks!

PS: the `init2 restore` file is extremely long, when using `kubectl apply` it ends up i

[2020-05-11 03:07] cyrilcros commented on #139
So, a few comments:

- I ended up extracting and gzipping the database dump in `init2` , and I put into a folder `galaxy/files/docker-entrypoint-initdb.d`  which means the size is acceptable and the dump is applied according to the `initdb` notes for the Bitnami image for postgresql.

- I got rid of init1 and replaced it with some of the PostgreSQL `values.yaml` , you can create the galaxy user /

[2020-05-13 15:01] nuwang commented on #139
@cyrilcros Which version of etcd are you using? Newer versions of etcd support 1MB keys, so my first guess is that this is tied to the etcd version.

The reason for having this init script is to make startup faster, as the Galaxy migrate process takes a long time by default. The latest version of Galaxy will obviate the need for this init script completely, as it can create the initial database st

[2020-05-13 15:22] cyrilcros commented on #139
Thank you for your very helpful reply! I will be closing this.

- I used k8s.gcr.io/etcd:3.4.3-0 from kubeadm, Kubernetes v1.18
- If this migration is going away, this is a non issue. Thanks! I currently have the galaxy / galaxy-cvmfs running on my cluster after a few edits to the templates, when your 20.05 version is out I will switch to it.
- That annotation isn't a big issue, I can always edit

[2020-05-13 15:22] #139 closed

[2020-05-27 07:47] pcm32 commented on #36
This is for chart version 2, currently we use a newer postgres chart, so we can close this.

[2020-05-27 07:47] #36 closed

[2020-05-27 08:16] pcm32 opened #140 "Need a better transport for kombu"
According to Marius' comments on https://github.com/galaxyproject/galaxy/issues/9483#issuecomment-634477538 (which also affects this setup), we need to add support for a better transport for kombu to avoid the described conflicts there.

[2020-07-16 17:29] nuwang opened #150 "Need to use a service account or be able to specify one"
Currently, we are using the default service_account. Being able to specify an alternative account would be more secure.

[2020-07-16 17:51] almahmoud commented on #150
+1, and it should be a very straightforward thing to do (mimicking this https://github.com/CloudVE/cloudlaunch-helm/blob/414a63652af94cb49abeca14773d6437cd665dd0/cloudlaunchserver/templates/cl-server-deployment.yaml#L31)

One question is, should default still be the service account launching the chart as it is now, or should we deploy our own restricted SA as a default if none are specified?

[2020-08-06 14:18] cyrilcros opened #155 "Move requirements.yaml into the Chart dependencies"
Please see this: https://helm.sh/docs/faq/#consolidation-of-requirements-yaml-into-chart-yaml
I am using ArgoCD and getting “requirements.lock is out of sync” errors when I try to install the Chart. For Helm v3 charts dependencies would be listed in the Chart.yaml.
Thanks!
EDIT: as an alternative either remove the requirements.lock file or keep it in sync after each commit...

[2020-08-17 15:55] almahmoud commented on #155
I believe we're leaving them separately in order to remain Helm2 compatible. Is the out-of-sync error when git cloning or using the packaged charts?
@afgane @nuwang any thoughts on this? I would personally not mind removing the `.lock` file if we keep the versions specified, alternatively could have the CI update dependencies on every merge if that's desirable?

[2020-08-17 16:20] nuwang commented on #155
I think it would make sense to drop Helm 2 support for future releases. It's been a while and Helm 2 is not all that secure by default, and we can just tag this existing branch in case there's anyone still using this on Helm 2. I'd propose a major new release of the chart with Helm 2 support dropped.

[2020-08-17 17:07] cyrilcros commented on #155
@almahmoud I was only using the git cloning version, I use [Argocd](https://github.com/argoproj/argo-cd) to point to the galaxy folder of your repo and install your chart with customized values. That has been working well for me.
Thanks!

[2020-08-21 20:31] cyrilcros opened #156 "Database dumps for 20.05"
Hi,
I am trying to set up a new database from scratch, but the migrations always fail at some point using the same postgresql release version than in your chart.
- Is there a new way of skipping the migrations in 20.05 (that was mentioned here: https://github.com/galaxyproject/galaxy-helm/issues/139#issuecomment-628050337 )?
- if not, could you add a SQL dump for the 20.05 version?
Thanks!

First

[2020-08-27 01:38] almahmoud opened #157 "Init containers copy and upgrades"
This way of adding files https://github.com/galaxyproject/galaxy-helm/blob/master/galaxy/templates/_helpers.tpl#L84 causes a problem when upgrading from `20.05` to `dev` image which includes changes in `tools/data_source/upload.py`. The instance was booted up with `20.05` image, so the old file had been saved to `database/tools/data_source/upload.py`, and when the new image booted up with the upda

[2020-08-30 11:02] pcm32 opened #159 "Postgres and rabbitmq leaving PVCs bound behind after helm delete"
Issuing `helm delete <release-name>` is leaving behind postgres and (now) rabbitmq bound PVCs:

[code]

Maybe there are some defaults in the values that we should set for those dep charts, or be explicit in the docs that PVCs will be kept and how to avoid it.

[2020-08-30 11:09] pcm32 commented on #159
and their PVs as well of course.

[2020-08-30 23:04] pcm32 opened #160 "Start up error for job handler container only"
Using the current ci values on minikube I'm getting this error on start only for the job handler deployment:

[code]

I think that I started seeing this error on rebase to the latest master.

[2020-09-01 11:30] pcm32 opened #161 "ftp upload support"
Currrently the Galaxy Helm chart v3 does not provide support for an ftp upload mechanism, which was the case in v2. Unless that more modern Galaxy versions have a better way of upload large files, which should probably add this support again. Unfortunately, there is no existing proftpd chart to simply re-use as dependency. So we need to decide whether to write a chart for that and use as dependenc

[2020-09-01 19:01] afgane commented on #161
We're going through a security audit for the chart v3 and one of the things the collaborators for this audit stated when we brought up FTP is that it is generally a very high risk service to add. Meanwhile, have you seen the external data source import capability that was recently added (https://github.com/galaxyproject/galaxy/pull/9888)? It may replace a lot of the need for ftp.

[2020-09-24 22:05] almahmoud commented on #159
Didn’t you try changing reclaim policy to “Delete”? I believe it’s “Retain” by default. I would also argue that at least for the DB, the “Retain” default is sensible to prevent accidental DB deletions

[2020-09-25 06:52] nuwang commented on #160
I've also run into this issue and I can't quite understand the root cause either. The quick fix is to have a null check:
[code]
However, that doesn't answer the question of why it's null in the first place - is it some sqlalchemy change? @natefoo or @mvdbeek?

[2020-09-25 08:33] mvdbeek commented on #160
Don't know what changed, but `server_version_info` seems to only be available if a connection has been made previously.
[code]
works for me on dev. What Galaxy version did you see this with first ?

[2020-09-25 08:34] mvdbeek commented on #160
(I do see this on 20.05, so I'm gonna target that)

[2020-09-25 08:44] nuwang commented on #160
@mvdbeek Saw this first on 20.05. Thanks for the fix!

[2020-09-25 11:25] pcm32 commented on #160
Yes, this was working fine in 20.01, it started appearing when I changed the testing containers from 20.01 to 20.05. Thanks @mvdbeek !

[2020-10-21 18:25] almahmoud opened #170 "Document all new values in README table"
Some values were added and modified without reflecting the change in the README config table.

- [x] Paper-cut: Going through values and documenting the latest set of values as of now.
- [ ] Paper-cut: Add a contribution default checklist for PRs
- [ ] Long-term: Add a CI check to make sure any PR-ed values are reflected in the README.

[2020-10-21 19:46] nuwang opened #171 "Make it easier to override tool mappings"
`container_mapper_rules.yml` allows you to manually remap tools to specific container overrides, or reassign their default resource allocations. However, because the rules are structured as an array, it's difficult to override the defaults in the helm chart when deploying in production. Therefore, turning it into a key based structure would greatly simplify administration in practice:

For example

[2020-10-21 22:57] almahmoud opened #172 "Handlers restart while migrations happen in Job container"
Web and workflow handlers usually restart 1-2 times while migrations happen in Job handler init container.

I think the migrations as a job would fix this, I want follow-up on that PR.

[2020-10-21 23:01] almahmoud commented on #171
We've settled on
[code]
mainly focusing on easily allowing 1) edits via helm and 2) injecting new tools to already existing groups via a helm.

[2020-10-26 14:59] pcm32 opened #174 "CVMFS disabled still leaves breaking config in galaxy.yml"
Starting the helm chart with CVMFS disabled still leaves (with chart version 3.20 to 3.4.2 at least) a config map with galaxy.yml values that break because the point to the expected CVMFS path. It used to be I think that giving a galaxy.yml file in the configs of helm used to replace the galaxy.yml in the config map, but now apparently there is a merge going on. The deployment fails with:

[code]

[2020-10-26 18:37] almahmoud commented on #174
When packaging with `scripts/helm_package` (which is what is used for our repository), `values-cvmfs.yaml` becomes `values.yaml`. Setting CVMFS to disabled doesn't change the rest of the values. I believe if you're using the packaged chart, to have a non-CVMFS values, you have to manually remove all values that use the CVMFS. There was an accidental paste that included build site from CVMFS on the

[2020-10-27 11:10] pcm32 commented on #174
Could we maybe then make two separate packages, with and without CVMFS? or this is only happening for older versions of the chart?

[2020-10-27 16:13] almahmoud commented on #174
I would personally say we should probably revisit the packaging with CVMFS values thing altogether.
If possible, ideally we'd actually have the CVMFS bits conditional in the default YAML as I think you expected. (i.e. if CVMFS is enabled, the defaults from CVMFS are added to `galaxy.yml`, if not, they are ignored. I am not sure how straightforward that will be or if there are some specific blocker

[2020-11-09 15:55] pcm32 commented on #160
@nuwang @almahmoud do you know if a new container carrying the fix is now available? Currently the setup in the CI is still broken.

[2020-11-09 21:21] pcm32 commented on #160
Ok, the changes mentioned by @blankenberg are now available in pcm32/galaxy-k8s:20.05_7ddbf2 which hopefully someone will push to the galaxy user dockerhub account. But with that image this error doesn't occur.

[2020-11-09 21:21] #160 closed

[2020-12-30 00:17] #156 closed

[2021-01-18 19:03] cyrilcros opened #204 "Using conda for dependencies?"
Hi, I want to know if it is possible to install and use conda to install tools. I realize the underlying Docker images for this chart use `virtualenv` which has compatibility issues according to https://docs.galaxyproject.org/en/master/admin/framework_dependencies.html .
What I have tried to do is add an `extraInitCommand` to download miniconda, remove `/galaxy/server/.venv` and replace it with a

[2021-01-19 20:53] almahmoud commented on #204
By default the job conf installed by the chart uses the Kubernetes runner: Each job is dispatched to a different k8s job in a separate container. Tools that have corresponding BioContainers (built from conda dependencies) will use those, and if no biocontainer is found, the default Galaxy container is used. If you are using the Kubernetes runner, you do not need to install any dependencies (you ca

[2021-01-19 21:02] almahmoud commented on #174
@pcm32 When/if you have the time, please check whether the latest consolidated values file fixed all the problems you were experiencing here, and possibly close the issue if they are fixed?
I think the next release will be the first one dropping the `cvmfs-enabled` default packaging, so while we were packaging the `values-cvmfs.yaml` as `values.yaml` by default in the past, we will be packaging th

[2021-01-19 21:15] cyrilcros commented on #204
Ok, I was using the persistence option with RWX PVC.  I used the `/galaxy/server/database/deps` directory to store my conda config (in a `_conda` folder, like galaxy does) and I set `XDG_CACHE_HOME` to a folder in that same directory so `pip` would use it as a shared cache. I also had to edit the chart to activate conda before running the `python` command in the job and workflow deployment.

In my

[2021-01-19 22:18] afgane commented on #204
You can specify which container to use for the tool in the container mapper config map, lie so: https://github.com/galaxyproject/galaxy-helm/blob/d12395f121e2ff739b6ad74af54c4facb95ef582/galaxy/values.yaml#L382

[2021-01-19 22:57] cyrilcros commented on #204
Ok, that makes a lot of sense. I can just write my tool definition file and link it to my own container.
Thanks!

[2021-01-19 22:57] #204 closed

[2021-01-20 00:21] almahmoud commented on #204
I think the mapping is the ideal solution for this case but just for the record in case it's helpful in the future, re:

If you were looking to enable auto-mulling in Galaxy when an image is not found, you can do so by adding the docker-in-docker container and enabling the option in the conf following the changes and comments in https://github.com/galaxyproject/galaxy-helm/pull/59 (although it's b

[2021-01-21 18:01] cyrilcros opened #205 "Migrating the ingress template to networking.k8s.io/v1"
Related to https://github.com/galaxyproject/galaxy-helm/issues/130

The ingress template uses `extensions/v1beta1` which is deprecated in Kubernetes >=v1.16. You would need to switch to `networking.k8s.io/v1` which is available since 1.8.
You would need to:
- change to `networking.k8s.io/v1` here https://github.com/galaxyproject/galaxy-helm/blob/d12395f121e2ff739b6ad74af54c4facb95ef582/galaxy/temp

[2021-01-22 22:03] cyrilcros opened #206 "Importing files via library_upload_dir fails / no logs from the galaxy worker pods"
Hi,
I am trying to import some raw sequencing data into my galaxy-helm install, from another PVC I have mounted as an extra volume. I have access to the right admin menu and I can see my files; they have the right permission and are owned by `galaxy:galaxy`. They get queued as expected.
However, after a few seconds the imported files always end up in an error state with a message `Uploaded tempora

[2021-01-22 23:09] cyrilcros commented on #206
I see I can get a job log from the galaxy admin interface. I can edit `tools/data-sources/upload.py` to get the right log.

[2021-01-22 23:09] #206 closed

[2021-01-23 00:41] cyrilcros opened #207 "Bug in the k8s runner configuration of extraVolume"
I noticed a pvc I was trying to mount as `/mnt/my-pvc` was fine in the main pods, but Kubernetes runners would see it as `’/mnt/my-pvc/\n’` and my scripts would fail.
In the `values.yaml`, this line https://github.com/galaxyproject/galaxy-helm/blob/d12395f121e2ff739b6ad74af54c4facb95ef582/galaxy/values.yaml#L211 is followed by a block conditional on `.Values.extraVolumes`. The new line should be r

[2021-01-25 12:42] viktoriaas opened #208 "Wrong postgresql repo location"
Hi,
I've tried to deploy helm galaxy chart and stumbled across a problem with postgresql dependency in `requirements.yaml`.
The issue is that postgresql chart has been relocated to different repository and putting
[code]
in `requirements.yaml` fixed the dependency.

[2021-01-25 17:19] nuwang commented on #207
Thanks for reporting this. It should be fixed in:
https://github.com/galaxyproject/galaxy-helm/issues/207
and
https://github.com/galaxyproject/galaxy/pull/11223

[2021-01-26 01:46] cyrilcros commented on #207
Thanks @nuwang , I will close this. By the way, could you take another look at https://github.com/galaxyproject/galaxy-helm/issues/155 ? Helm 2 is now out of support (cf https://helm.sh/blog/helm-v2-deprecation-timeline/ ) and the out of sync `requirements.lock` prevents people from directly using this repository. I use the CloudVe `helm-charts` repo instead, but it can lag a bit.

[2021-01-26 01:46] #207 closed

[2021-01-26 04:08] cyrilcros opened #212 "Whitelist left in _helpers"
Hi, `whitelist` have been replaced by `allowlist` in the project, but an occurrence was left in the helpers file. I realized this because as a result HTML isn’t rendered properly in FastQC which is in the `values.yaml` allowlist. I get a `no such file` error in the `galaxy-init-mounts` init container logs...

https://github.com/galaxyproject/galaxy-helm/blob/889a2d97b4e6e49142767ab95728a26f74c03f7

[2021-01-26 05:23] nuwang commented on #208
@viktoriaas Thanks for reporting this. Work is being done to drop Helm 2 support, and we can include a fix for this along with it.

[2021-01-26 17:33] #212 closed

[2021-01-26 17:37] viktoriaas opened #214 "User deployment not working"
Hi,
I'm trying to deploy this helm chart under user and it crashes fataly.
I've already managed to deploy it as admin which works fine but I would like to let users also deply this chart. I use RKE provider, Kuberentes version 1.19.3 and Docker 20.10.2.

Firtly, it is importnant to answer whether this should be possible or if you have thought about it. If yes, following notes are for you. If no, m

[2021-01-27 02:46] almahmoud commented on #214
Hey! First of all, I'd want to clarify what you mean by the user/admin distinction. My current understanding is that you're referring to something like a Rancher/Kubernetes admin vs namespace-restricted user (but if I misunderstood, this answer might be less relevant than I thought). If you could give us a bit more info to understand more fully the distinction in terms of permissions and specific

[2021-01-27 18:19] viktoriaas commented on #214
Hello,
thanks for a reply. I think this chart doesn't support what I'm looking for.

To clarify user/admin distinction - yes, I'm referring to something like a Rancher/Kubernetes admin vs namespace-restricted user. I have an admin that is cluster-wide, thus eligible to perform any action. And then I have namespaces and users are restricted only to those namespaces.

The GVL looks interesting, howe

[2021-01-27 20:22] almahmoud commented on #214
The GVL is in fact a container-based (and even specifically rancher-based) solution, and uses this chart to deploy Galaxy. It is primarily designed for the cloud, but it can also be deployed on local infrastructure. The only real prerequisite is having a kubernetes cluster. If you're deploying locally it will require some manual deployment rather than just using cloudlaunch to target a cloud, but

[2021-01-28 00:38] viktoriaas commented on #214
Well, I might have not understood you correctly but if I am able to deploy GVL on kubernetes, that would be awesome.
Our setup: Rancher Kubernetes distribution v.2.5.1 + cluster nodes are deployed in OpenStack. So I'm starting from a VM.
I've read [this blogpost](https://galaxyproject.org/blog/2020-02-gvl5-beta/) but couldn't find any information on how to deploy differently than on https://launch

[2021-01-28 04:50] nuwang commented on #214
@viktoriaas From what I've gathered, it seems like you already have a specific managed k8s environment and user management model, and as such, the GVL may not necessarily suit without some significant effort to delve into its guts.

However, I believe that the Galaxy helm-chart should be usable in the way you've outlined. Apart from RBAC controls (which can be disabled), and the priorityclass (whi

[2021-01-28 14:42] viktoriaas commented on #214
Hello, @nuwang,

You are right about priorityclass - it can't be disabled now. However, for testing purposes I enabled it for all users through ClusterRole and disabled rbac and then, I faced problem with postgres about password. I performed all of this under user but as it wasn't functional, I again use admin but still doesn't work. Maybe if the problem with DB PASSWORD resolves, everything will

[2021-01-28 15:02] nuwang commented on #214
Glad to hear the postgres permissions issue was sorted out.

For the password issue, this happens even after setting `postgresql.galaxyDatabasePassword` on a fresh install? It needs to be a fresh install though, since once the database password is set in postgres, you can't change it (other than manually from within postgres).

[2021-01-28 23:22] viktoriaas commented on #214
@nuwang
After quite complex search and log study I discovered that all of these password have to be set
[code]

Persisting problem is that directory `/galaxy/server/config/mutable/` keeps on appearing in logs of one of galaxy-job containers, with something like `python IO error: shed_tool_data_table_conf.xml can't be parsed`. I think it is related to permissions of PVCs, actually only to `/galaxy/

[2021-01-29 11:47] pcm32 commented on #214
I suspect that if you remove the RBAC you won't be able to send jobs to run through the k8s runner (or you will send them, but they won't run on the k8s cluster, or they might run, but the galaxy pod won't be able to monitor them). Have you tried if that works? Make sure that we are talking of jobs that are sent to containers, there is a chance that things like Upload will be still running locally

[2021-01-29 11:50] pcm32 commented on #214
My recollection when I first added RBACs back then (version 1 easily), it was because of that. At some point in the Kubernetes versions (I think after 1.3 or 1.6, some very old version) you needed the RBACs to allow the service account in the galaxy pod to create/monitor/stop k8s Job API objects (that are used by the Galaxy k8s runner).

[2021-01-29 13:17] viktoriaas commented on #214
@pcm32 That's an interesting note, I haven't thought about it.
I would like to add some specific options to `shed_tool.conf` which can be easily done but I don't know if new tools can be easily added to `/galaxy/server/config/tools`. I suspect all tools are already part of the docker image?

Then I can test it but if disabling RBACs actually breaks the galaxy, it's useless. I will try

[2021-01-29 13:29] pcm32 commented on #214
I suspect that still many of the built-in tools will send jobs as containers through kubernetes. The setup should also allow you to install tools from the toolshed through the Galaxy UI (just to test a few tools) in the admin section.

[2021-01-29 14:12] nuwang commented on #208
@viktoriaas This is fixed in: https://github.com/galaxyproject/galaxy-helm/pull/216/. Let us know if you run into any further issues.

[2021-01-29 14:12] #208 closed

[2021-01-29 15:27] viktoriaas commented on #214
I tried to load some files but the job can't be scheduled because cvmfs pvc is not found. I haven't enabled cvmfs, I don't want to use it. Is there another way how can I store loaded files, e.g with nfs?

[2021-01-29 15:51] pcm32 commented on #214
@almahmoud you were asking me if there were traces of CVMFS in another issue, I think that this

answers you question.

[2021-01-29 15:51] pcm32 commented on #214
in previous versions I have had to explicitly disable CVMFS for things to work.

[2021-01-29 15:56] viktoriaas commented on #214
@pcm32 I resolved this in a very basic way - I've created PVCs with names `galaxy2-cvmfs-gxy-main-pvc` and `galaxy2-cvmfs-gxy-data-pvc`  and with my preferred storage Class (jobs asked for them) and then files were added. I tried to do the same with helm chart when I specidfied storage class under cvmfs as `csi-nfs` (our preferred) but whole deployment failed.

Now I'm trying to use my added tool.

[2021-01-29 17:07] pcm32 commented on #214
So did it run the tool without RBAC on k8s or was it a local execution (running inside the same Galaxy container)? You can check and see if galaxy job pods have been created in k8s. A big part of running Galaxy in k8s is to offload the jobs as containers into the k8s cluster. If turning off RBACs take that away is less appealing (I think).

[2021-01-29 18:29] nuwang commented on #214
@viktoriaas The pod priority class fix is in: https://github.com/galaxyproject/galaxy-helm/pull/215

[2021-02-04 11:12] viktoriaas commented on #214
@nuwang thanks
@pcm32 sorry for late reply.
For a while, I'm not working on user deployment but I'm trying to deploy using admin account. This went fine, I have working galaxy instance. Also, I have successfully added my own tool. However, when I submit the job I have a missing dependecy
[code]

I would like to ask, how to resolve this. I thought there might be some direcotry in pvc which might se

[2021-02-04 13:54] pcm32 commented on #214
If you tool is not resolved (in the requirements field within its XML) to a bioconda package, then you would need to use an explicit mapping to a container that has everything needed for your tool. If your tool uses more than a single conda package as dependency, it might be that that combination has not yet made it into a multi-tool mulled container (https://github.com/BioContainers/multi-package

[2021-02-04 14:34] viktoriaas commented on #214
@pcm32 Thanks, I went through files a couple of times and achieved a successful run!

The job did finish and handled some results. Suppose I would like to download them, is it possible?
Now, when I click on save icon, I get nginx 404 not found. Also, I don't seem to find any information on whether the output is saved on any PVC or not and if yes, what is the name of it.

[2021-02-04 14:39] pcm32 commented on #214
This should work and is most likely a bug of the helm setup.

[2021-02-04 14:45] viktoriaas commented on #214
could you point me in any direction what can be wrong? for storage i have used dynamic provisioning on nfs, cvmfs is disabled although i had to create pvc for uploading files (without it it failed), but actually i haven't found any of input or output files on shared storage

[2021-02-09 14:19] #205 closed

[2021-02-11 16:26] viktoriaas opened #219 "Problems with file uploading and downloading"
Hi,
I don't want to continue in #214 because this issue is different. We have a working Galaxy deployment and added our own tool.

**Problem 1**
When cvmfs is disabled, the PVCs related to them isn't created, right. However, they are later requested when uploading file to Galaxy. In the end, they are not used, the files are stored under _objects_ directory in `galaxy-pvc`. I don't understand why i

[2021-02-15 07:03] nuwang commented on #219
@almahmoud Problem 1 seems like a conditional bug after the values merge?

@viktoriaas Are you using the latest version of the chart?  There was a selector issue that was fixed that may result in what you're saying, but that has since been fixed.

[2021-02-15 07:03] nuwang commented on #159
@pcm32 Can we close this?

[2021-02-15 09:04] viktoriaas commented on #219
Yes, I am using the latest version. I cloned the master branch, the last log in the git log
[code]

[2021-02-15 13:08] nuwang commented on #219
@viktoriaas Can you try this in an incognito window or try a different browser? We've found that the browser caches this permanently if it happens even once.

[2021-02-15 14:09] viktoriaas commented on #219
@nuwang what do you mean I should try?

I treid brand new deployment and then opened galaxy url in different browser and in incognito window. Still demands cvmfs PVCs

[2021-02-15 15:21] nuwang commented on #219
I was referring mainly to problem 2. Problem 1 appears to be a bug. The workaround you've implemented seems correct.

[2021-02-15 17:43] cyrilcros opened #220 "Redirect issue with oauth?"
Hi, with Galaxy v21.01, Helm Chart v3.9.4 I seem to see some issue with oauth. My URL is `https://galaxy.DOMAIN/galaxy/` and after authentication via Google Oauth I now get redirected to `https://galaxy.DOMAIN/galaxy/galaxy/#`. This is still a successfull auth, I just need to go back to `https://galaxy.DOMAIN/galaxy/`.
My `oidc_backends_config.xml` has the line `<redirect_uri>https://galaxy.DOMAIN

[2021-02-15 19:24] nuwang commented on #220
I haven't tested this properly with 21.01 yet. Which image did you use? And it doesn't work for you only with 21.01 right?
@almahmoud Have you run into this?

[2021-02-15 19:27] cyrilcros commented on #220
I am using `galaxy/galaxy-k8s:21.01` . 20.09 with the 3.8.4 Chart was fine.

[2021-02-16 06:22] almahmoud commented on #220
I haven't tested 21.01 auth at all

[2021-02-16 06:58] nuwang commented on #220
@cyrilcros Yes, the 21.01 build was most experimental and hasn't been tested. I've built and pushed a newer version of galaxy/galaxy-k8s:21.01. Can you try pulling it again and check whether it works?

[2021-02-16 12:02] viktoriaas commented on #219
I tried in incognito window but it still works only with added trailing slash in nginx conf. I've create a PR that could fix both issues I faced

[2021-02-16 12:20] nuwang commented on #219
@natefoo Do you know why this trailing slash might be needed?
I don't see it in the usegalaxy playbook: https://github.com/galaxyproject/usegalaxy-playbook/blob/562e63fc944ba4541c522a3e845f83e4b41e64e4/env/main/templates/nginx/usegalaxy_staging.j2#L25
so that makes me suspect that something else is going on.

[2021-02-16 15:50] viktoriaas commented on #219
@nuwang question:  I have tool path specified in the `tool_conf.xml` but the xml file does nto exist in the path yet. I deply Galaxy, everything is fine. Then, I add the file on specified location in PVC but the tool is still not visible on Galaxy web. I have also done `helm upgrade` but still nothing. What am I missing? I think it worked before

[2021-02-16 18:29] cyrilcros commented on #220
Hi, I checked the new image you made and it failed. I reconfirmed galaxy-k8s 20.09 is fine using the exact same Helm version and values apart from the `image.tag`. It isn't a big issue for me, just something to look out for while you develop 21.01.

[2021-02-16 19:19] nuwang commented on #220
Ok, thanks for reporting on that. @dannon Do you know whether anything changed with auth that could trigger this?

[2021-02-17 14:39] #219 closed

[2021-02-17 14:40] viktoriaas commented on #219
With merge request, the issue is solved

[2021-02-17 14:52] viktoriaas commented on #214
Today I have successfuly deployed under user. I had to add 2 ClusterRoles for this particular user but that is perfectly okay.

There is still one issue that always happens when deploying galaxy. In galaxy-job container, the deployment fails with

[code]

When I check physical location, the `config` directory is the only one owned by root.
[code]
I suspect user 101 cannot access `config` directory

[2021-02-17 16:00] natefoo commented on #219
@nuwang what do you use for the [galaxy-side option](https://github.com/galaxyproject/usegalaxy-playbook/blob/cbb75f4dbbcc8f13cc5dcc986771fd2af5c05236/env/main/group_vars/all/galaxy_config_vars.yml#L153)?

[2021-02-17 17:07] nuwang commented on #219
@natefoo Server side is almost the same as usegalaxy, except for the proxy prefix: https://github.com/galaxyproject/galaxy-helm/blob/21a4cfcad8e1e87cd6af6cd8b28b0a9a9d136e02/galaxy/values.yaml#L314

[2021-02-18 07:12] nuwang commented on #219
@viktoriaas Do you have a trailing slash in your galaxy-config perhaps?

[2021-02-18 12:42] viktoriaas commented on #219
No, my setup is exectly same as in galaxy docs.
`galaxy.yml` : `  nginx_x_accel_redirect_base: '/galaxy/_x_accel_redirect'`
`nginx.conf` : `location /galaxy/_x_accel_redirect/ {`

[2021-02-24 21:13] almahmoud opened #225 "extraFileMappings needs reworking"
There are a few problems with `extraFileMappings`:

1) The fact that it doesn't support `_` xref https://github.com/galaxyproject/galaxy-helm/pull/221/
2) Only mounts the last if two files have the same filename but different paths
3) Doesn't support all possible names.

All of them can be resolved at once in a helper function.

[2021-02-24 21:29] almahmoud opened #226 "Separate workflow from job handlers in values via `applyToWorkflow`"
The original chart was designed for 2 handlers (job and web), then a third workflow handler was later added, but the values have not been updated to be able to customize the workflow handler independently. For the most part, `applyToJob` still applies to both the Job handler and Workflow handler.

Things to do:
- [x] In [values.yaml](https://github.com/galaxyproject/galaxy-helm/blob/master/galaxy/

[2021-02-27 18:37] cyrilcros opened #229 "Can’t use metrics when the database uses `galaxyExistingSecret`"
Hi,
The new metrics deployment assumes you don’t use the `galaxyExistingSecret` way of storing the postgresql database password. It cannot find the database password in this case.
Template line: https://github.com/galaxyproject/galaxy-helm/blob/328ce1720fd39bf1d9e7d76ebf5a804ed76c5acc/galaxy/templates/deployment-metrics.yaml#L52
Values: https://github.com/galaxyproject/galaxy-helm/blob/328ce1720fd

[2021-02-27 18:50] nuwang commented on #229
Thanks for catching that. The first issue needs a fix.

The metrics deployment won't work without influxdb, as the extracted data is dumped into influxdb.
The source for the container is here: https://github.com/CloudVE/galaxy-docker-k8s-metrics

[2021-03-03 04:42] tsvenkat opened #232 "[ERROR] Chart.yaml: appVersion should be of type string but it's of type float64"
[code]
Enclosing the appVersion value in double quotes fixes the issue.

[2021-03-04 08:25] almahmoud commented on #232
Thanks for catching and reporting this!
Must have become stricter in newer helm versions, I should update my helm. Fixed in https://github.com/galaxyproject/galaxy-helm/pull/235

[2021-03-04 08:25] #232 closed

[2021-03-04 13:15] ksuderman commented on #226
I can't self-assign this, but I will start working on it.

[2021-03-05 15:27] ksuderman opened #238 "Update Configuration table in the README with new entries in the values.yml file."
Several new entries in the values.yml file need to be documented in the README and descriptions added.

[2021-03-09 20:40] almahmoud opened #242 "API versioning"
We should be using `.Capabilities.KubeVersion.Version` ([ref](https://helm.sh/docs/chart_template_guide/builtin_objects/)) in the chart to maintain broader backwards compatibility even when API version support is dropped.
For our stacks, we need to keep 1.16+ support right now. Ideally the support would always be up to the latest.
xref: https://github.com/galaxyproject/galaxy-helm/issues/106 @pcm3

[2021-03-09 20:43] almahmoud commented on #106
Closing this in favor of https://github.com/galaxyproject/galaxy-helm/issues/242 where we can resolve this issue more permanently

[2021-03-09 20:43] #106 closed

[2021-03-09 22:47] #226 closed

[2021-03-17 17:03] #238 closed

[2021-03-17 19:30] ksuderman commented on #172
After our discussion during the March 16 call, I would like to take a stab at this.  There are at least two issues to address:

1. The job handler gets restarted during startup due to failed liveness and readiness probes.  Kubernetes 1.16 added a [startupProbe](https://github.com/kubernetes/kubernetes/pull/77807) for just this use case and Kubernetes won't start the other probes until `startupProb

[2021-03-17 20:09] ksuderman commented on #42
The only task remaining to close this issue is to remove stale/dead branches.  This sounds like a good paper cut, but if anyone has a dead branch out there now would be a good time to delete it!

RE: CI/CD - while I am not working on that directly, I have been developing some scripts and playbooks to bootstrap clusters from zero to working Galaxy as I familiarize myself with Kubernetes on the vari

[2021-03-17 22:08] almahmoud commented on #42
I'm going to close this issue as I think it's old and we've had many conversation about this and don't have the bandwidth to waste on this. Also, are there any practical real-life problems that this solves? I think we already addressed both original issues of having releases be packaged more often and not overwriting pinned versions, and I think we've come to a decent solution after last GCC that

[2021-03-17 22:08] #42 closed

[2021-03-25 02:23] #242 closed

[2021-03-25 02:23] #225 closed

[2021-03-25 02:29] almahmoud commented on #174
This should be fixed now, please reopen if it comes up again.

[2021-03-25 02:29] #174 closed

[2021-03-25 02:31] almahmoud commented on #159
Please reopen this if it's an issue.

[2021-03-25 02:31] #159 closed

[2021-03-25 02:32] almahmoud commented on #157
This was improved since and won't be relevant/will be different with the move towards pulsar k8s runner so closing this for now.

[2021-03-25 02:32] #157 closed

[2021-03-25 05:10] almahmoud commented on #155
This is now done as of https://github.com/galaxyproject/galaxy-helm/commit/1aff5f6cd0f2cf6b5d9075111c38ed33f1102b7b#diff-334ae070c8649f3b020807c49db1049009f6001d9d34cf97c8fd90e6269ae21e

[2021-03-25 05:10] #155 closed

[2021-03-25 05:10] #150 closed

[2021-03-25 05:11] #130 closed

[2021-03-25 16:16] #171 closed

[2021-03-25 16:45] almahmoud commented on #172
I think this _can_ be true but is generally not. The restarts on the other handlers are happening because the main process is erroring out when Galaxy is attempting to startup before the database is ready. In general, the most common is that the migrations have started but are still underway, so the other handlers are erroring out due to a mismatched database version between what is expected and c

[2021-03-31 16:46] ksuderman commented on #172
That is because I was confused, I though the heartbeat was from the running job not the job handler itself.

I think the heartbeat is fine for the readiness probe; if the job runner is not writing its heartbeat because something is holding the GIL then Kubernetes likely shouldn't keep routing jobs to it. However, the heartbeat should not be used in a liveness probe as we don't want Kubernetes rest

[2021-03-31 18:28] almahmoud commented on #172
I agree. The heartbeat is a good measure for readiness and in a production scenario with horizontal scaling, it's the most useful bit.
For the liveness probe, I agree in theory, but the history is that it's been helpful in practice. The main problem was that sometimes the job handler would be erroring out in a loop, not because the process itself is erroring out, but because the cleanup function w

[2021-03-31 19:09] ksuderman commented on #172
That is might be the best option for now. Once I can reliably launch instances on a cluster I will try to nail down some of those problematic scenarios. I believe Nuwan had identified one particular tool that caused problems as well.

[2021-05-07 22:09] almahmoud commented on #172
This has been resolved with the new startup jobs

[2021-05-07 22:09] #172 closed

[2021-05-07 22:11] almahmoud commented on #170
Done in 4.0

[2021-05-07 22:11] #170 closed

[2021-05-14 09:43] viktoriaas opened #293 "Local upload does not work"
Hi,
uploading local files to Galaxy does not work  and ends with
[code]

I assume it's because the volume mounts in `Job` yaml are not written correctly.

From `values.yaml`:
[code]

The mounts in resulting `Job` are shifted are there is unnecessary `|` :
[code]

When I change `k8s_persistent_volume_claims: |-` to `k8s_persistent_volume_claims: >- ` the result is better but still not working (addi

[2021-05-14 17:20] almahmoud commented on #293
This should fix it for now: https://github.com/galaxyproject/galaxy-helm/pull/294 . I'll PR a real fix to the k8s runner next week, hopefully squeeze into 21.05

[2021-05-25 11:08] viktoriaas opened #295 "Favicon and logo paths are not right"
Hi,
current galaxy ingress values are mismatched. Original values for ingress are:
[code]

This paths cause not displaying logo and favicon because the path in HTML source is `src=/static/favicon.png` . When I type that URL (`hostname.com/static/favicon.png`) I get  404 - default backend because ingress is configured for `galaxy`.

So I changed both paths in ingress for `\` which is fine and all l

[2021-05-31 14:06] viktoriaas opened #296 "Sudden DB version issues"
Hi,
today I wanted to upgrade my galaxy helm chart. I only changed 2 options in `values.yaml` (added admin to galaxy config and removed conda) and the upgrade totally failed. Since then, I am unable to run helm-galaxy, I have installed and uninstalled it multiple times and I always get:

```Exception: Your database has version '176' but this code expects version '174'. To downgrade the database sc

[2021-05-31 23:24] almahmoud commented on #296
This is due to the migrations script not running. Depending on which version you're upgrading from, it's most likely because of the change from using an init container in the job handler to a kubernetes batch job for the migrations (to make handlers independently scalable and not tie migrations to a specific handler). This was one of the reasons for the major version bump (from v3 to v4).

One thi

[2021-06-07 09:55] viktoriaas commented on #296
Hi,
the matter is resolved, it was most likely caused by following action:
- the Kubernetes cluster administrator installed galaxy helm chart **v4** into the cluster and instructed the galaxy administrator just to perform `helm upgrade galaxy -f values.yaml` in case he wants to change something
- however, the galaxy administrator had the whole galaxy repository cloned locally but probably older ve

[2021-06-07 09:55] #296 closed

[2021-06-07 10:22] viktoriaas opened #299 "Remote files functionality missing and upgrade leads to DB issues"
Hi,
according to release notes Galaxy v21.01 presented the "Remote files" functionality (https://galaxyproject.org/news/2021-03-galaxy-release-21-01/#remote-files).

How can I enable it? I suspect it has to do something with `file_sources_conf.yml.sample` (https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/config/sample/file_sources_conf.yml.sample). The file is present in `galaxy/server/

[2021-06-07 19:36] almahmoud commented on #299
If you want to inject a config file into `/galaxy/server/config`, you should be using the `configs` section of the helm chart.
If you have the file that you want saved from wherever you're running the helm command, you can do `helm upgrade --set-file configs."file_sources_conf\.yml"=/path/to/file/locally/file_sources.yml`
If you're trying to add a config manually to be persistent, you should add t

[2021-06-07 19:40] almahmoud commented on #295
Nuwan's PR should fix the `//` issue.
Regarding the icon, you can fix this by changing `logo_src` in `galaxy.yml`: https://docs.galaxyproject.org/en/release_21.01/admin/config.html#logo-src

I will PR a new default in a sec

[2021-06-11 23:01] cyrilcros opened #303 "galaxy init mount jobs never reach completion when run a second time with persistence enabled"
`tar: can't open 'cvmfs/cloud.galaxyproject.org/tools/toolshed.g2.bx.psu.edu/repos/iuc/collection_element_identifiers/d3c07d270a50/collection_element_identifiers/collection_element_identifiers.xml': File exists`

From `galaxy-init-cloud-repo-partial`

I am using persistence. After a first job completion, if the job is started again for any reasons (chart upgrade ...), it will keep crashing. After

[2021-06-11 23:54] cyrilcros opened #304 "create_db.sh throws exception with a seperate postgresql install"
Pastebin from the init db container: https://pastebin.com/apR2TvrV
Pastebin from SQL: https://pastebin.com/68LV3un3

Your postgresql operator works for me. However, when using https://github.com/bitnami/charts/tree/master/bitnami/postgresql I get errors during database creation....

Would it please be possible to get an option to purge everything in the database, before running `/galaxy/server/cre

[2021-06-12 00:14] almahmoud commented on #304
We could add a flag for that. I would personally prefer to keep the default as `false` as to not increase the possibility of accidental DB deletions, but having the option would definitely be a nice feature.
In the meantime, there are a few options to unblock you:
1) We have a branch for one of our funded collaborative projects `anvil` which has the `4.0.0` chart with the old `postgresql` dependen

[2021-06-12 20:14] almahmoud commented on #303
Interesting... running upgrades with an NFS shared filesystem is working for us, and existing files just get overwritten. When you say "if the job is started again for any reasons" do you mean actually restarting the same job or an upgrade (i.e. new revision number)? The current implementation already has a signal per revision same as the db wait, although only for the startup portion: https://git

[2021-06-14 16:19] cyrilcros commented on #303
Hi, this is the same job that is restarted via `restartPolicy: OnFailure`.  I ran it again on a newly created PVC and I am getting the same thing from `galaxy-init-cloud-repo`:

`tar: can't open 'cvmfs/cloud.galaxyproject.org/tools/toolshed.g2.bx.psu.edu/repos/iuc/samtools_fixmate/bc0cc7bfbfe9/samtools_fixmate/samtools_fixmate.xml': File exists`

I am not using NFS, but a Rook / CephFS filesystem

[2021-06-14 16:36] almahmoud commented on #303
@nuwang @afgane @ksuderman We should probably discuss this at the meeting tomorrow. If overwriting files while unarchiving doesn't work universally on all filesystems, we should find an elegant solution for this, especially as we're thinking about abandoning the NFS as well.

@cyrilcros In the meantime, you could turn off the `initJob` and use the CVMFS with this set of values: `--set initJob.down

[2021-06-14 16:55] cyrilcros commented on #303
Hi, I can just work with a locally installed Galaxy for now.
I have had issues with CVMFS on Kubernetes 1.20/1.21, some CSI features changed. I tried forking the chart and making edits (RBAC rules for `volumeattachment`, upgraded images, changes to arguments). That worked on 1.20 for a while, but not now. https://github.com/cernops/cvmfs-csi hasn't been been updated in a while....

[2021-06-14 17:53] almahmoud commented on #303
Yep, we noticed the same issues with 1.20, haven't gotten the time to update the CSI unfortunately :/ I'll try to make a simple fix (perhaps forcing a `rm -rf` followed by only unpacking the full tool set, which should guarantee that each file is only unpacked once. I will try to get to it this week, but no promises as there are many things to do so close to GCC. If you have the time to try and PR

[2021-06-14 18:11] ksuderman commented on #303
Interestingly, testing with Rook/Ceph was already on my To-Do list for this week.  I will see if I can recreate by tomorrow.

[2021-06-14 19:02] almahmoud commented on #303
@cyrilcros Could you possibly share an installation example of your Rook/Ceph stack assuming you're using a relatively portable helm chart/operator? It might accelerate us being able to reproduce and then fix this

[2021-06-14 19:20] cyrilcros commented on #303
This is bare metal install, I copied the relevant stuff here: https://github.com/cyrilcros/storage-k8s

[2021-06-14 19:26] nuwang commented on #303
@cyrilcros Can you verify that exec'ing into the container and doing an
[code]
works as expected?

When you said you chowned the first time, which owner was it changed to? If this a filesystem permission issue, could it be solved by settings fsGroup or something?

[2021-06-15 18:57] cyrilcros commented on #303
I think my issues are stemming from ArgoCD + this line: https://github.com/galaxyproject/galaxy-helm/blob/64668c982919d94d98206870d4ba058aa1f02635/galaxy/templates/jobs-init.yaml#L132

The job gets restarted by ArgoCD because it is removed after it completes. It would be nice to have it as a values like `ttlForJobs` in the chart, that lets you know what happened to the job if set to `0`.

I will t

[2021-06-15 19:12] almahmoud commented on #303
@cyrilcros I made https://github.com/galaxyproject/galaxy-helm/pull/305. I suppose you could set it to a very high number if it only gets restarted after it gets cleaned up? However, wouldn't the expected behavior be to _not_ restart the job if it completed _successfully_?

[2021-06-15 19:19] cyrilcros commented on #303
Thanks so much for reacting quickly, @almahmoud , I tried making my own fix....

[2021-06-15 19:32] almahmoud commented on #303
I added
https://github.com/galaxyproject/galaxy-helm/pull/306/commits/2cbd1e031ea81b4beab565372952a103bca29a9f which should make it unsettable with `--set initJob.ttlSecondsAfterFinished=null`

[2021-06-15 20:33] cyrilcros commented on #303
That worked! I just set `ttlSecondsAfterFinished: ~` in my values and the jobs finish without issues....

[2021-06-15 20:34] #303 closed

[2021-06-18 19:58] cyrilcros commented on #304
Closing this; for now things are working and I think it has the same cause as #303 (restarted jobs)...

[2021-06-18 19:58] #304 closed

[2021-06-19 15:19] #295 closed

[2021-06-20 17:28] #293 closed

[2021-06-20 17:29] #299 closed

[2021-08-23 19:24] almahmoud opened #320 "Demote init jobs to non-root and de-hardcode user 101"
- [ ] 101 should be settable
- [ ] the init job should not use root

[2021-09-30 14:21] ksuderman opened #330 "SVG files not being displayed in the new user Welcome page"
The root cause of the SVG files not being displayed is they are being served without a `Content-Type` header.  **Note** Firefox *will* display the SVG files, the problem only appears in Safari and Chrome.  It may exist in other browsers, but these are the only three I checked.

The most common cause of errors with the Content-Type header is a missing `mime.types` file.

### Solutions Attempted (Fa

[2021-09-30 17:12] dannon commented on #330
@astrovsky01 Is this the same problem you mentioned to me yesterday?

[2021-09-30 17:13] astrovsky01 commented on #330
Yes

[2021-09-30 20:19] almahmoud commented on #330
I have a fix for this that involves adding the static content onto the NFS (which is shared across nginx and the web/uwsgi pods) and then having NGINX serve static content directly. (Right now, the request is sent by NGINX to UWSGI, who has access to the file off the container image, and then passes it back to NGINX. I believe when uWSGI passes the response, it types it as `application/html` as th

[2021-09-30 20:31] almahmoud commented on #330
I have a fix for this that involves making the static content available to the NGINX pod and then having NGINX serve it directly. (Right now, the request is sent by NGINX to UWSGI, who has access to the file off the container image, and then passes it back to NGINX. I believe when uWSGI passes the response, it types it as `text/html` since that's what NGINX always gets, even with `mime.types` expl

[2021-09-30 21:19] almahmoud commented on #330
https://github.com/galaxyproject/galaxy-helm/pull/331 this is option 1 and it seems to work out of the box.

[2021-09-30 22:02] #330 closed

[2021-10-04 19:24] almahmoud commented on #220
There was a bug in Galaxy starting with 21.01 where OIDC login was broken. I made a fix that got backported a few months ago: https://github.com/galaxyproject/galaxy/pull/12161

[2021-10-04 19:24] #220 closed

[2021-10-05 16:51] nuwang opened #334 "Create a higher user id for galaxy than 101"

[2021-10-05 16:57] nuwang opened #335 "Make galaxy-min issue autobuild"
xref: https://github.com/galaxyproject/galaxy/pull/12520/files

1. Add docker repository secrets to Galaxy project org
2. Change quay.io org to Galaxy project

[2021-10-05 17:01] nuwang commented on #334
xref: https://github.com/galaxyproject/galaxy-helm/issues/320

[2021-10-12 23:36] cyrilcros opened #342 "Galaxy with CVMFS seems to work on newer kubernetes"
Hi, I saw this pull request https://github.com/cernops/cvmfs-csi/pull/35 on the cernops/cvmfs-csi and decided to try it. I added a few edits in a `new_provisioner` branch https://github.com/cyrilcros/cvmfs-csi/blob/new_provisioner/deployments/helm/cvmfs-csi/values.yaml

That's been working well for me, notably because it has a different `csi-cvmfsplugin` image that solves some issues (https://gith

[2021-10-13 01:45] almahmoud commented on #342
Thank you for pointing out that PR!!
I'll work on porting the new version on our end to have Galaxy's CVMFS work post-1.19.

[2021-10-13 15:20] cyrilcros commented on #342
Yes, from what I have seen the Helm chart needed just minor work, but the CSI plugin itself needs an update. The `fbarreir/csi-cvmfsplugin:9` Docker image (from this guy I assume: [Fernando Barreiro](https://github.com/fbarreir) )  seems to use a modernized version, ideally you may get the source code from him. I don't see it on his public Github....

[2022-02-16 01:18] 23skdu opened #352 "Installs stalls during PG initialization"
`$ helm version
version.BuildInfo{Version:"v3.7.2", GitCommit:"663a896f4a815053445eec4153677ddc24a0a361", GitTreeState:"clean", GoVersion:"go1.16.10"}`
`Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.20-eks-8c49e2", GitCommit:"8c49e2efc3cfbb7788a58025e679787daed22018", GitTreeState:"clean", BuildDate:"2021-10-17T05:13:46Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"li

[2022-03-17 02:59] #352 closed

[2022-03-17 03:00] 23skdu commented on #352
nevermind, will write my own if no one maintains this one.

[2022-04-25 21:39] ksuderman opened #356 "Increase ephemeral storage limit in values.yml"
Currently, the `resources.limits.ephemeral-storage` in values.yml is set to 10G. While this may be sufficient for testing and development it causes out of disk space problems when the job handler attempts to unpack large files.  This value should be increased to something more appropriate for real world usage and/or this limit should be highlighted in the documentation.

[2022-04-26 16:15] ksuderman opened #357 "Broken link in the readme"
Does anyone know where https://galaxyproject.org/cloud/k8s/ was moved to?

[2022-04-26 16:53] afgane commented on #357
The chart README is the closest/most up-to-date docs we have. There are a couple of tutorials on the GTN but those are 3 years old and likely not accurate any more.

[2022-05-10 17:21] ksuderman commented on #342
@cyrilcros I am trying to get all of these changes merged into our helm charts, but the `fbarreir/csi-cvmfsplugin:9` Docker image does not seem to exist on Docker Hub or quay.io and I can not find any contact information for Fernando Barreiro.  I was hoping the `brinkmanlab/csi-cvmfsplugin:1.2.0` Docker image would be a drop in replacement. The `PVC`a and `PV`a are created, but I get the following

[2022-07-26 17:49] ksuderman opened #365 "Update NFS"
Use Ganesha NFS.

[2022-07-26 17:50] ksuderman opened #366 "Update cert-manager"
Update to the latest version of cert-manager.

[2022-07-31 12:35] mshaikh786 opened #368 "Suggestion about galaxy/ingress.yaml"
At times one may need to dedicate an `ingressclass` and corresponding ingress-controller. In the `galaxy/templates/ingress.yaml`, the ingressClassName is set to "nginx" which is usually the default class name when an ingress-controller is deployed. Would it be better to set the same variable as is set in the `galaxy/templates/ingress-activity-canary.yaml`, i.e.
`ingressClassName: {{ .Values.ingres

[2022-07-31 14:22] mshaikh786 opened #369 "helm install is successful but getting an error on landing page"
Hi,
I installed the helm chart successfully, with a few minor modifications. These changes were in ingress-class and the storage classes which are nfs for PVCs postgresql and galaxy-pvc.
The chart release is 4.0.0.
On the landing page of Galaxy, I get the following error:
`An error occurred
An error occurred while updating information with the server. Please contact a Galaxy administrator if the p

[2022-08-01 20:13] nuwang commented on #368
Thanks for reporting this. This is a bug and should be fixed.

[2022-08-01 20:15] nuwang commented on #369
The url has galaxy repeated twice, is that intentional? `http://galaxy.kaust.local/galaxy/galaxy/api/histories/12f072e1c95db54c?keys=size%2Cnon_ready_jobs%2Ccontents_active%2Chid_counter"`

Can you post a screenshot?

[2022-08-06 12:15] mshaikh786 commented on #369
Thanks @nuwang for prompt reply.
I am unable to reproduce this issue anymore. All I did was reinstall the helm chart for the ingress controller I was using and then a new galaxy chart. Can't pinpoint what was different before. We can close this issue for now. Thanks for your assistance.

[2022-08-06 12:15] #369 closed

[2022-08-12 15:34] #368 closed

[2022-10-14 15:24] pckroon opened #386 "Cannot deploy on on-premise k8s"
Hi all!

I'm running into issues installing the helm chart on my on-prem/local kubernetes cluster. I'll first dump all relevant manifests, and then describe the issue I'm running into.

<details>
<summary>Helm values</summary>

[code]

</details>
<details>
<summary>galaxy-data PVC definition</summary>

[code]

</details>

I use the NFS backed PVC since my "standard" sc (jiva) doesn't support RWX.

[2022-10-15 05:06] nuwang commented on #386
Are you using k8s 1.25 by chance? Looks like there's an issue with it: https://github.com/galaxyproject/galaxy-helm/pull/385
ping @afgane

[2022-10-18 09:04] pckroon commented on #386
Thanks for the quick reply. I'm indeed running k8s 1.25.1:
[code]
And in case it matters, the helm version:
[code]

It looks like it's exactly the issue described in #385.
Do you have any idea about the release cadence of the pgsql operator? Does it make sense to report this upstream (again)?

[2022-10-18 13:04] nuwang commented on #386
There doesn't appear to be a fixed release cadence, but support for 1.25 appears to have been added: https://github.com/zalando/postgres-operator/issues/1999

[2022-11-14 14:25] pcm32 opened #390 "rabbitmq-server fails to start"
I have just tried spinning up with default settings besides this in a values.yaml file:

[code]

I see the following containers waiting and failing:

[code]

The rabbit container fails with:

[code]

it seems to be OOMKilled:

[code]

but those seem to be the default parameters for limits/requests. Are you running this with more memory in general?

This is kubernetes 1.23.5 running on Fedora CoreO

[2022-11-14 15:47] pcm32 commented on #390
Adding more memory doesn't seem to have an impact. I'm trying to set the BITNAMI_DEBUG env var, but modifications via kubectl edit statefulset/<> for rabbit don't seem to stick. Modifications for memory worked on the Rabbitmq cluster object, but there are no env vars to set there to activate the BITNAMI_DEBUG part.

[2022-11-14 17:56] nuwang commented on #390
For which container are you seeing the OOM killed message? If it had been an OOM in the rabbitmq container itself, the ending in the logs should have been very abrupt, and there should have been no time to print any error messages?

What if you increase verbosity in rabbit?
[code]

[2022-11-14 18:00] nuwang commented on #390
And also try passing this to the operator through the helm chart?

[code]

[2022-11-14 18:42] ksuderman commented on #390
I am using the default memory setting on the clusters I have running.  But I wonder if the OOMKilled is a red herring.

This has me wondering if `53` is the root error (EBADR 53 Invalid request descriptor).  Line 336 of libos.sh is the line that redirects output to `/dev/null`, and if output is being redirected to `/dev/null` what is it doing in the log?

[2022-11-15 11:03] pcm32 commented on #390
Yes, it is on the main rabbitmq container. Yes, agreed the log interruption would have been more abrupt.

[2022-11-15 11:42] pcm32 commented on #390
my bad, so we are using rabbitmq operator, just packaged by bitnami on a helm chart.

[2022-11-15 13:10] pcm32 commented on #390
I also tried adding the use of a different rabbitmq image to the rabbitmq operator on the `values.yaml` for the Galaxy helm chart like this, but it doesn't get picked up:

[code]

but it still remains like:

[code]

this is at the first level of `values.yaml`, should this be under another item like `dependencies` or something? Thanks.

[2022-11-15 13:14] pcm32 commented on #390
I guess it would require some additions here? https://github.com/galaxyproject/galaxy-helm/blob/6b071c9805bd3a65d75ff28aa562ff7405d74209/galaxy/templates/rabbitmqcluster.yaml#L10

[2022-11-15 13:23] nuwang commented on #390
@pcm32 Yes. You can try adding an override here, passing in the BITNAMI_DEBUG env var: https://github.com/galaxyproject/galaxy-helm/blob/6b071c9805bd3a65d75ff28aa562ff7405d74209/galaxy/templates/rabbitmqcluster.yaml#L11

Overrides are documented here:
https://www.rabbitmq.com/kubernetes/operator/using-operator.html#override

[2022-11-16 09:01] pcm32 commented on #390
This seems to be a problem specifically between the bitnami container (possibly related to the usage of /dev/null) and the underlying Fedora CoreOS being used by that original cluster as VM images. Moving to an RKE2 based cluster (which uses ubuntu focal as VM image) makes the problem go away.